#home {
  #blurb {
    position: relative;
    height: 250px;
    padding: 10px 0 30px 0;
    color: white;

    .slides {
      position: absolute;
      top: 35px;
      margin: 0;
      padding: 0;
      li {
        position: absolute;
        display: none;
        margin: 0;
      }
      .current {
        display: block;
      }
    }
    .slides-pagination {
      position: relative;
      top: 238px;
      left: 118px;
      li {
        display: block;
        float: left;
        width: 8px;
        height: 8px;
        margin: 0;
        margin-right: 8px;
        background-color: #ccc;
        @include border-radius(4px);
        @include box-shadow(#666 1px 1px 2px 0px inset);

        &:last-child {
          margin-right: 0;
        }
        &.current {
          background-color: #20bf02;
        }
      }
    }
    p {
      font-size: 16px;
      margin-left: 350px;
      margin-top: 18px;
      color: #ccc;
    }
    h3 {
      margin: 0 0 0 350px;
      font-size: 58px;
      font-weight: bold;
    }
    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    em {
      color: #fffa40;
      font-style: normal;
      background-color: transparent;
    }
    .conclusion {
      color: #20bf22;
      margin-bottom: 0;
      font-size: 22px;
    }
  }
}

#sub {
  position: relative;
  margin: 15px 0 55px 0;
  padding: 5px 0;
  border-width: 15px 0 15px 0;

  blockquote {
    width: 720px;
    margin: 0;
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd;
    @include border-radius(8px);
    @include box-shadow(#ddd 1px 1px 4px 0px inset);
    font-style: italic;
    color: #666;

    img {
      float: left;
      height: 75px;
      width: 75px;
      margin-right: 10px;
      border: 1px solid #ddd;
      @include border-radius(5px);
    }
  }
  cite {
    display: block;
    font-size: 12px;
    color: #999;
  }
  #sociallinks {
    position: absolute;
    top: 5px;
    right: 0;
    width: 190px;

    h4 {
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      width: 190px;
      font-size: 20px;
    }

    .fb-like {
      top: -3px;
    }
  }
}


