#sponsors {
  section {
    font-size: 14px;

    #platinum {
      li {
        height: 220px;
        padding-left: 230px;
        & > a {
          width: 210px;
          height: 210px;
        }
      }
    }

    #gold {
      li {
        height: 140px;
        padding-left: 230px;
        & > a {
          width: 205px;
          height: 130px;
        }
      }
    }

    #silver {
      li {
        height: 70px;
        padding-left: 230px;
        padding-right: 5px;
        & > a {
          width: 205px;
          height: 60px;
        }
      }
    }

    #workers, #services, #special-thanks {
      li {
        height: 50px;
        padding-left: 160px;
        & > a {
          width: 140px;
          height: 40px;
        }
      }
    }

    h3 {
      font-size: 18px;
    }

    li {
      position: relative;
      margin-top: 15px;

      & > a {
        display: block;
        position: absolute;
        top: 0;
        left: 0px;
        border: 1px solid #ddd;
        background-repeat: no-repeat;
        overflow: hidden;
        @include border-radius(4px);
      }

      &.wooga > a {
        background-image: url(/images/sponsors/wooga-210x210.png);
      }
      &.bendyworks > a {
        background-image: url(/images/sponsors/bendyworks-210x210.png);
      }
      &.cloudcontrol > a {
        background-image: url(/images/sponsors/cloudcontrol-210x210.png);
      }
      &.xing > a {
        background-image: url(/images/sponsors/xing-210x210.png);
      }
      &.heroku > a {
        background-image: url(/images/sponsors/heroku-205x130.png);
      }
      &.soundcloud > a {
        background-image: url(/images/sponsors/soundcloud-205x130.png);
      }
      &.nedap > a {
        background-image: url(/images/sponsors/nedap-205x130.png);
      }
      &.planio > a {
        background-image: url(/images/sponsors/planio-205x130.png);
      }
      &.mongohq > a {
        background-image: url(/images/sponsors/mongohq-205x130.png);
      }
      &.zweitag > a {
        background-image: url(/images/sponsors/zweitag-205x130.png);
      }
      &.kanbanery > a {
        background-image: url(/images/sponsors/kanbanery-205x130.png);
      }
      &.ticketevolution > a {
        background-image: url(/images/sponsors/ticketevolution-205x130.jpg);
      }
      &.cobotme > a {
        background-image: url(/images/sponsors/cobotme-205x60.png);
      }
      &.jumpstartlab > a {
        background-image: url(/images/sponsors/jumpstartlab-205x60.png);
      }
      &.jumpstartlab-special > a {
        background-image: url(/images/sponsors/jumpstartlab-140x40.png);
      }
      &.evilmartians > a {
        background-image: url(/images/sponsors/evilmartians-205x60.png);
      }
      &.zendesk > a {
        background-image: url(/images/sponsors/zendesk-205x60.png);
      }
      &.stripe > a {
        background-image: url(/images/sponsors/stripe-205x60.png);
      }
      &.basho > a {
        background-image: url(/images/sponsors/basho-205x60.png);
      }
      &.thinkrelevance > a {
        background-image: url(/images/sponsors/thinkrelevance-205x60.png);
      }
      &.mindmatters > a {
        background-image: url(/images/sponsors/mindmatters-205x60.png);
      }
      &.amen > a {
        background-image: url(/images/sponsors/amen-205x60.jpg);
      }
      &.site5 > a {
        background-image: url(/images/sponsors/site5-205x60.png);
      }
      &.eighthlight > a {
        background-image: url(/images/sponsors/8thlight-205x60.jpg);
      }
      &.crowdinteractive > a {
        background-image: url(/images/sponsors/crowdinteractive-205x60.png);
      }
      &.atomicobject > a {
        background-image: url(/images/sponsors/atomicobject-205x60.png);
      }
      &.codeminer > a {
        background-image: url(/images/sponsors/codeminer-205x60.png);
      }
      &.enterprise-rails > a {
        background-image: url(/images/sponsors/enterprise-rails-140x40.png);
      }
      &.engineyard > a {
        background-image: url(/images/sponsors/engineyard-140x40.png);
        border-width: 0;
      }
      &.railslove > a {
        background-image: url(/images/sponsors/railslove-140x40.png);
      }
      &.shopify > a {
        background-image: url(/images/sponsors/shopify-140x40.png);
      }
      &.servergrove > a {
        background-image: url(/images/sponsors/servergrove-140x40.png);
      }
      &.heroku-services > a {
        background-image: url(/images/sponsors/heroku-140x40.png);
      }
      &.pusher > a {
        background-image: url(/images/sponsors/pusher-140x40.png);
      }
      &.iriscouch > a {
        background-image: url(/images/sponsors/iriscouch-140x40.png);
      }
      &.postmark > a {
        background-image: url(/images/sponsors/postmark-140x40.png);
      }
      &.librato-metrics > a {
        background-image: url(/images/sponsors/librato-metrics-140x40.png);
      }
      &.stickermule > a {
        background-image: url(/images/sponsors/stickermule-140x40.png);
      }
    }
  }
}
