#thanks-companies {
  padding-bottom: 20px;

  li {
    overflow: hidden;
  }

  li:last-child {
    margin-right: 0 !important;
  }

  .platinum, .silver, .gold {
    margin-top: 0;

    li {
      padding-right: 15px;
      border: 1px solid #ddd;
      @include border-radius(8px);
      @include box-shadow(#ddd 0px 0px 5px);

      img {
        float: left;
        margin-right: 10px;
        @include border-left-radius(8px);
      }
    }
  }

  .platinum {
    li {
      width: 863px;
      height: 210px;
      font-size: 14px;
      img {
        height: 210px;
        @include border-right-radius(8px);
      }
    }
  }

  .gold {
    li {
      float: left;
      margin-right: 20px;
      width: 413px;
      height: 130px;
      font-size: 13px;
      img {
        height: 130px;
        @include border-right-radius(8px);
      }
      p {
        margin-top: 12px;
      }
    }
  }

  .silver {
    li {
      float: left;
      margin-right: 20px;
      width: 188px;
      height: 60px;
      img {
        width: 203px;
        height: 60px;
        @include border-right-radius(8px);
      }
    }
  }
}

