#thanks-companies {
  padding-bottom: 20px;
  li {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    @include border-radius(8px);
    @include box-shadow(#ddd 0px 0px 5px);

    &.platinum {
      width: 878px;
      font-size: 15px;
    }
    &.silver, &.gold {
      float: left;
      font-size: 13px;
      margin-right: 20px;
    }
    &.gold {
      width: 428px;
      height: 130px;
      &.placeholder {
        background: url(/images/placeholder-gold.png);
      }
    }
    &.silver {
      width: 203px;
      height: 60px;
      &.placeholder {
        background: url(/images/placeholder-silver.png);
      }
      img {
        width: 203px;
        height: 59px;
        @include border-right-radius(8px);
      }
    }
    &.even-child {
      margin-right: 0;
    }

    img {
      float: left;
      margin-right: 10px;
      @include border-left-radius(8px);
    }
    p {
      margin: 10px 5px 0px 0;
    }
  }
}

