%ul.features
  %li 3 cool Travis CI stickers<sup>1</sup>.
  %li Access to the #{link_to 'ringtones and sounds', ringtones_profile_url} collection.
  %li A personal note from the Travis CI team.

%ul.footnotes
  %li
    %sup 1
    We will send the stickers to you through snail mail.


