%header
  #blurb
    %ul.slides
      %li
        %img{src: 'images/slides/screen-1.png'}
      %li
        %img{src: 'images/slides/screen-4.png'}
      %li
        %img{src: 'images/slides/screen-6.png'}
      %li
        %img{src: 'images/slides/screen-2.png'}
      %li
        %img{src: 'images/slides/screen-3.png'}
      %li
        %img{src: 'images/slides/screen-5.png'}
    %h3 We need your help!
    :markdown
      [Travis CI](http://travis-ci.org) has run
      *354,297 tests*
      for 4,742 open-source projects to date, including
      [Ruby](http://travis-ci.org/#!/ruby/ruby),
      [Rails](http://travis-ci.org/#!/rails/rails),
      [Rubinius](http://travis-ci.org/#!/rubinius/rubinius),
      [Rubygems](http://travis-ci.org/#!/rubygems/rubygems),
      [Bundler](http://travis-ci.org/#!/carlhuda/bundler),
      [Leiningen](http://travis-ci.org/#!/technomancy/leiningen),
      [Parrot](http://travis-ci.org/#!/parrot/parrot),
      [Symfony](http://travis-ci.org/#!/symfony/symfony),
      ...
    %p
      If you use any of these then
      %em you benefit
      from Travis CI.
    %p.conclusion
      Please donate so we can make Travis CI even better!

  #sub
    %blockquote
      %img{src: 'images/brian.jpeg'}
        What Github did for sharing code, Travis CI will do for testing code.
        The value of this service cannot be overstated. Travis CI is a paradigm shift.
        The world will be a better place when every open-source developer is  running their test suite on Travis CI.
        %cite
          = succeed ',' do
            &mdash;
            %a{href: 'https://twitter.com/#!/brixen'} @brixen
          = succeed ',' do
            %a{href: 'http://brightredglow.com'} Brian Ford
          %a{href: 'http://rubini.us/'} Rubinius

    #sociallinks
      %h4.handwritten Please spread the word!
      %a.twitter-share-button{ 'data-count' => 'vertical' } Tweet
      %div.g-plusone{ 'data-size' => 'tall' }
      %div.fb-like{ 'data-send' => 'false', 'data-layout' => 'box_count', 'data-width' => '50' }

