#blurb
  %div
    %ul.slides
      %li
        %img{src: 'images/slides/screen-1.png'}
      %li
        %img{src: 'images/slides/screen-4.png'}
      %li
        %img{src: 'images/slides/screen-6.png'}
      %li
        %img{src: 'images/slides/screen-2.png'}
      %li
        %img{src: 'images/slides/screen-3.png'}
      %li
        %img{src: 'images/slides/screen-5.png'}
    %h3 We need your help!
    :markdown
      [Travis CI](http://travis-ci.org) has run
      *283.346 tests*
      for 3.874 open-source projects to date, including
      [Ruby](http://travis-ci.org/#!/ruby/ruby),
      [Rubinius](http://travis-ci.org/#!/rubinius/rubinius),
      [Rubygems](http://travis-ci.org/#!/rubygems/rubygems),
      [Bundler](http://travis-ci.org/#!/carlhuda/bundler),
      [Symfony](http://travis-ci.org/#!/symfony/symfony),
      [Leiningen](http://travis-ci.org/#!/technomancy/leiningen),
      ...
    %p
      If you use any of these then
      %em you benefit
      from Travis CI.
    %p.conclusion
      Please donate so we can make Travis CI even better!
