%section#contact.paper
  %h2 Contact
  %p
    Josh is taking care of most of the non-technical communication. Please flick him an email at
    = succeed ',' do
      %a{href: 'mailto:josh@travis-ci.org'} josh@travis-ci.org
    call him on Skype
    %a{href: 'callto:joshkalderimis?call'} joshkalderimis
    or just tweet at
    = succeed '.' do
      %a{href: 'http://twitter.com/j2h'} @j2h
  %p
    If you feel like chatting we are hanging out at
    %a{href: 'irc://irc.freenode.net#travis'} irc.freenode.net#travis
    basically all the time :)

