%section#faq.paper
  %h2 FAQ

  %h3 Who are you, actually?
  %p We've just recently founded a company Travis CI GmbH in Berlin, Germany. So we are able to receive payments, send invoices and pay people in a legal manner.
  %p
    This company is currently owned by
    %a{href: 'http://twitter.com/joshkalderimis'} Josh Kalderimis
    and
    %a{href: 'http://twitter.com/svenfuchs'} Sven Fuchs
    and will be used to push Travis CI further.

  %h3 What are you going to do with all the money?
  %p We are going to continue work on Travis CI in order to make it even better. Some of the features that we want to work on next are listed above.

  %h3 Why do you need to accept donations for this?
  %p We have been working on Travis CI off our personal money for the last half a year or so and now we have reached a limit with that.
  %p We are going to implement a paid service for private builds, too, but that will probably take a while. We also want to pay people for improving various parts of the system too.

  %h3 Can't you just sell private build support and use that money for your plans?
  %p We certainly could. But this would then take much longer as we would need to pick up external work in order to pay our own bills. There also are other features (like pre-tested Github pull requests and the like) that would need to wait even longer. And we believe the community should get them as soon as possible.
  %p So, put simple, by accepting donations and sponsorships we allow the community to speed up further improvements to Travis CI.

  %h3 I just want to send some money without all this jazz. Can I do that?
  %p Absolutely. Here's our bank account: [...]
  %p
    Please also
    %a{href: 'mailto:contact@travis-ci.org'} send us an email
    or otherwise make sure we know who you are :)
  .sidenote.left.handwritten
    Any other questions? Just shoot!


