%section#faq.paper
  %h2 FAQ

  %h3#faq-who-are-you
    Who are you, actually?
  %p
    We've just recently founded a company Travis CI GmbH in Berlin, Germany. So we are able to receive
    payments, send invoices and pay people in a legal manner.
  :markdown
    This company is currently owned by [Josh Kalderimis](http://twitter.com/joshkalderimis),
    [Konstantin Haase](http://twitter.com/konstantinhaase) and [Sven Fuchs](http://twitter.com/svenfuchs)
    and will be used to push Travis CI further.

  %h3#faq-what-are-your-plans
    What are you going to do with all the money?
  %p
    We are going to continue work on Travis CI in order to make it even better. Some of the features that
    we want to work on next are <a href='#future-plans'>listed above</a>.

  %h3#faq-why-donations
    Why do you need to accept donations for this?
  %p
    We have been working on Travis CI off our personal money for the last half a year or so and now we
    have reached a limit with that.
  %p
    We are going to implement a paid service for private builds, too, but that will probably take a while.
    We also want to pay people for improving various parts of the system too.

  %h3#faq-why-not-bootstrap-on-private-builds
    Can't you just sell private build support and use that money for your plans?
  %p
    We certainly could. But this would then take much longer as we would need to pick up external work in
    order to pay our own bills. There also are other features (like pre-tested Github pull requests and the
    like) that would need to wait even longer. And we believe the community should get them as soon as possible.
  %p
    So, put simple, by accepting donations and sponsorships we allow the community to speed up further
    improvements to Travis CI.

  %h3#faq-ringtones
    What the heck are these ringtones about? o_O
  %p
    We've put the gist of it together <a href="/ringtones">here</a>.

  %h3#faq-no-credit-card
    I do not have a credit card!
  %p
    So you're probably from Europe? In that case you can just transfer money to our bank account (see below).
    We will take care of your donation manually :)

  %h3#faq-bank-account
    I just want to send some money without all this jazz. Can I do that?
  %p Absolutely. Here's our bank account:
  %dl
    %dt Name
    %dd Travis CI GmbH
    %dt BIC
    %dd WELADED1PMB
    %dt IBAN
    %dd DE37160500001000937166
    %dt Bank
    %dd Mittelbrandenburgische Sparkasse Potsdam
    %dt BLZ
    %dd 16050000
    %dt Number
    %dd 1000937166
  %p
    Please also
    %a{href: 'mailto:contact@travis-ci.org'} send us an email
    or otherwise make sure we know who you are :)

  %h3#faq-credit-card-privacy
    How do you deal with my credit card data?
  %p
    We just don't. Instead we send it to <a href="http://stripe.com">Stripe</a> through Javascript before
    the form gets submitted. We then get a token back which we send to our application. So we never see your
    full credit card data, only Stripe does, and they take care of the actual payments, too.

  %h3#faq-vat-and-tax
    How about VAT and tax deduction for my donations?
  %p
    We don't really know about tax laws everywhere in the world but according to our tax advisor:
    "Contributions and payments to travis-ci.org or Travis CI GmbH are not deductible as charitable
    contributions for federal income tax purposes. However, they may be deductible under other
    provisions of the Internal Revenue Code (for US) or your local tax authority's advice."
  %p
    A word about VAT. Sorry to bother you - we'll keep a long story short.
    If you're not from Europe (to be precise - from the EU) you can skip this.
    If you're not interested in the company packages or the huge/big packages you can skip too.
    For all the others: we have to struggle with the odd EU VAT regulations for the above mentioned packages.
    During you fill out the form and entered an EU country we will show a field to ask for your VAT ID.
    If you have one please enter it - otherwise your contribution will be reduced by 19% VAT.
    You come from Germany? We will show you a field to ask if VAT is a recoverable tax for you. If so, we will add
    the 19% VAT to your contribution and ask you to complete your address data.

  .sidenote.left.handwritten
    Any other questions? Just shoot!


