%section#future-plans.paper
  %h2 Future Plans (with your help)
  %p
    Here are some of the things we plan to do in the near future and are why we would really appreciate your help right now.
    Of course there's way more in the pipeline.
    If you don't see your personal pet feature on this list then
    %a{href: '#contact'} don't hesitate to ask!

  %ul
    %li#artifacts
      %h3 Build artifacts
      %p The only information you currently can get back from your tests is the log and the exit code. We want to open this up and allow for uploading of various types of build artifacts. Just think, you could take screenshots from your app, or analyse the coverage or code complexity and upload results as files for later use, but that's only the beginning...
    %li#languages
      %h3 More languages!
      %p Travis CI has started out with just Ruby. Today we already support other languages like Node.js, PHP, Erlang and Clojure. We want to expand this and provide full support for other languages as well.

  .sidenote.right.handwritten
    That's right. This stuff is going to rock.
    We can't wait for these features either :)
