%section#future-plans.paper
  %h2 Future Plans (with your help)
  %p
    Here are some of the things we plan to do in the near future and are why we would really appreciate your help right now.
    Of course there's way more in the pipeline.
    If you don't see your personal pet feature on this list then
    %a{href: '#contact'} don't hesitate to ask!

  %ul
    %li#pullrequests
      %h3 Pre-Tested Pull-Requests
      %p That shiny green "Merge pull request" button on Github is too tempting to click, right? But you don't know if it passes, and having to go back and revert if it breaks is no fun.  We're going to fix this and pre-test pull requests from Github so you can merge code that passes.
    %li#languages
      %h3 Moar languages!
      %p Travis CI has started out with just Ruby. Today we already support other languages like Node.js, PHP, Erlang and Clojure. We want to expand this and provide full multi-version support for Python, Scala, Java and potentially moar.
    %li#artifacts
      %h3 Build artifacts
      %p The only information you currently can get back from your tests is the log and the exit code. We want to open this up and allow for uploading of various types of build artifacts. Just think, you could take screenshots from your app, or analyse the coverage or code complexity and upload results as files for later use, but that's only the beginning...
    %li#private
      %h3 Private build support
      %p This is probably the single most often asked for feature on conferences, Twitter, IRC, ... basically everywhere. People want to use Travis CI for their private projects and we are going to make this possible!

  .sidenote.right.handwritten
    That's right. This stuff is going to rock.
    We can't wait for these features either :)
