%section#rails-core
  %ul
    %li#jon
      .wrap
        .head
          %a.mouth{href: '#'}
      %cite Jon Leighton
    %li#jose
      .wrap
        .head
          %a.mouth{href: '#'}
      %cite José Valim
    %li#aaron
      .wrap
        .head
          %a.mouth{href: '#'}
      %cite Aaron Patterson
    %li#yehuda
      .wrap
        .head
          %a.mouth{href: '#'}
      %cite Yehuda Katz
  .sidenote.right.handwritten
    These guys agree you should totally donate + make Travis CI better :)
