%section#ringtones.paper
  %h2 Ringtones &amp; Sounds
  %p
    This is where the real fun is.
    = succeed ',' do
      %a{href: 'http://yehudakatz.com'} Yehuda Katz
    = succeed ',' do
      %a{href: 'http://tenderlovemaking.com'} Aaron Patterson
    %a{href: 'https://github.com/josevalim'} Jose Valim
    and
    %a{href: 'http://jonathanleighton.com/'} Jon Leighton
    from the
    %a{href: 'http://rubyonrails.org/core'} Rails core team
    have recorded some typical Rails core/Ruby dev slang phrases for us. Now check this out.
  %p
    We will add more
    %a{href: 'soundcloud.com/travis-ci/sets'} ringtones and sounds
    from the community as they are coming in. (Feel free to submit some!)
  %p If you donate anything to this campaign we will grant you access to download these so you can use them as actual ringtones on your phone, as notification sounds on your computer or wherever your heart fancies!
  %p
    %iframe{frameborder: 'no', height: '450', scrolling: 'no', src: 'https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F1449285&auto_play=false&show_artwork=false&color=ff7700', width: '100%'}
  %p
    If you are curious you can read the full story about these ringtones
    %a{ href: '/ringtones'} here.
  .sidenote.right.handwritten
    Kinda weird? Totally :)
    %br
    But lots of fun, too ... which is why they're here.

