%section#stickers.paper
  %h2 Travis CI stickers
  %p
    With the help of the amazing folks over at
    %a{href: 'http://stickermule.com'} Stickermule
    we’ve prepared some gorgeous Travis CI stickers for you. Here are some examples:
  %p
    %img{src: 'images/stickers.png'}/
  %p Wait until you hold them in your hands, they look even better than these images, they actually look so beautiful you'll want to lick them :)
  .sidenote.left.handwritten
    Yummmmm, ...

