%section#testimonials.paper
  %h2 What people say about Travis CI

  %ul.clearfix
  .sidenote.left.handwritten
    Wow,  thanks :)
    %br
    We totally love you, too!

  .pagination
    = render partial: 'home/pagination'


