%section#thanks-companies.paper
  %h2 Thank you, companies!
  %ul.clearfix
    %li.platinum.clearfix
      %img{src: 'images/logos/wooga-210x210.png'}
        %p
          Founded in 2009 in Europe´s technology hub, Berlin, 
          <a href="http://www.wooga.com">Wooga</a> is the third largest
          social games developer in the world.
        %p
          <a href="http://www.wooga.com">Wooga</a> creates high quality games for
          Facebook and iOS, with a specific focus on emotional character development,
          usability, and superb localization in seven languages.
          <a href="http://www.wooga.com">Wooga</a> is committed to creating innovative and original game titles
          for players of all ages, bringing millions of users around the world
          together through a world of gaming.
        %p
          <a href="http://www.wooga.com">Wooga</a>´s free-to-play Facebook
          games are enjoyed by over 35 million active players per month - 70%
          of which are women.
          For more information please visit: <a href="http://www.wooga.com">www.wooga.com</a>
    %li.gold
      %img{src: 'images/logos/github.png'}
        %p GitHub is the best way to collaborate with others on code. Free public repositories, collaborator management, issue tracking, wikis, downloads, code review, graphs ...
    %li.gold.clearfix.even-child
      %img{src: 'images/logos/gidsy.png'}
        %p Gidsy is a marketplace for authentic experiences. It's a place where anyone can offer and book tours and activities. By joining a great community of organizers ...
    %li.silver
      %img{src: 'images/logos/shopify.png'}
    %li.silver
      %img{src: 'images/logos/railslove.png'}
    %li.silver
      %img{src: 'images/logos/railslove.png'}
    %li.silver.even-child
      %img{src: 'images/logos/shopify.png'}

  %p
    Please check out all of our sponsors
    %a{href: '/sponsors'} here!

  %p.footnotes
    %sup 1
    Your company logo here? Review the
    <a href="#" class="toggle">company packages</a>
    below and see our detailled
    <a href="/company_packages">company package plans</a>.

  .sidenote.left.handwritten
    Don't you also think these folks are extremely cool for helping us? Check them out!
