%section#thanks-companies.paper
  %h2 Thank you, companies!
  %ul.clearfix
    %li.platinum.clearfix
      %a{href: 'http://www.wooga.com'}
        %img{src: 'images/logos/wooga-210x210.png'}
      %p
        Founded in 2009 in Europe´s technology hub, Berlin,
        <a href="http://www.wooga.com">Wooga</a> is the third largest
        social games developer in the world.
      %p
        <a href="http://www.wooga.com">Wooga</a> creates high quality games for
        Facebook and iOS, with a specific focus on emotional character development,
        usability, and superb localization in seven languages.
        <a href="http://www.wooga.com">Wooga</a> is committed to creating innovative and original game titles
        for players of all ages, bringing millions of users around the world
        together through a world of gaming.
      %p
        <a href="http://www.wooga.com">Wooga</a>´s free-to-play Facebook
        games are enjoyed by over 35 million active players per month - 70%
        of which are women.
        For more information please visit: <a href="http://www.wooga.com">www.wooga.com</a>

    %li.gold
      %a{href: 'http://soundcloud.com'}
        %img{src: '/images/logos/soundcloud-205x130.png'}
      %p
        %a{href: 'http://soundcloud.com'} SoundCloud
        is an audio platform that enables anyone to upload, record,
        promote and share their originally-created sounds across the internet,
        in a simple, accessible and feature-rich way.
    %li.gold.placeholder.clearfix.even-child
      
    %li.silver
      %a{href: 'http://cobot.me'}
        %img{src: '/images/logos/cobotme-205x60.png'}
    %li.silver
      %a{href: 'http://jumpstartlab.com'}
        %img{src: '/images/logos/jumpstartlab-205x60.png'}
    %li.silver
      %a{href: 'http://zendesk.com'}
        %img{src: '/images/logos/zendesk-205x60.png'}
    %li.silver.placeholder.even-child

  %p
    Please check out all of our sponsors
    %a{href: '/sponsors'} here!

  %p.footnotes
    %sup 1
    Your company logo here? Review the
    <a href="#" class="toggle">company packages</a>
    below and see our detailled
    <a href="/company_packages">company package plans</a>.

  .sidenote.left.handwritten
    Don't you also think these folks are extremely cool for helping us? Check them out!
