%section#thanks-folks.paper
  %h2 Thank you, folks!

  %table#donations
    %colgroup
      %col.col-gravatar
      %col.col-name
      %col.col-amount
      %col.col-package
      %col.col-date
      %col.col-comment

    %thead
      %tr
        %td.pagination.first_page.paged{colspan: 5}
          %span.page
            Page:
            %span.number 1
          %span.sep
            &middot;

          %span.first First
          %a.first{href: '#'} First
          %span.sep
            &middot;

          %span.previous Previous
          %a.previous{href: '#'} Previous
          %span.sep
            &middot;

          %span.next Next
          %a.next{href: '#'} Next
          %span.sep
            &middot;

          %span.last Last
          %a.last{href: '#'} Last
          %span.sep
            &middot;

          %a.all{href: '#'} See all
          %a.paged{href: '#'} See less

    %tbody

  .sidenote.right.handwritten
    ZOMMMG!!1!
    %br
    YOU guys rock!
    %br
    &lt;3 &lt;3 &lt;3 &lt;3
    %br
