%section#thanks-folks.paper
  %h2 Thank you, folks!

  %table#donations
    %colgroup
      %col.col-gravatar
      %col.col-name
      %col.col-amount
      %col.col-package
      %col.col-date
      %col.col-comment

    %thead
      %tr
        %td.pagination{colspan: 5}
          = render partial: 'home/pagination'

    %tbody

  .sidenote.right.handwritten
    ZOMMMG!!1!
    %br
    YOU folks rock!
    %br
    &lt;3 &lt;3 &lt;3 &lt;3
    %br
