%section#thanks-companies.paper
  %h2 Thank you, companies!
  %ul.clearfix
    %li.platinum.clearfix
      %img{src: 'images/logos/soundcloud.png'}
        %p SoundCloud is an audio platform that enables anyone to upload, record, promote and share their originally-created sounds across the internet, in a simple, accessible and feature-rich way.
        %p SoundCloud's open platform also supports a wide range of applications built on the SoundCloud API, enabling everything from mobile voice recording, online mastering, digital distribution to Facebook artist profiles and iPad music making.
        %p To find out more, visit the tour page or register online.
    %li.gold
      %img{src: 'images/logos/github.png'}
        %p GitHub is the best way to collaborate with others on code. Free public repositories, collaborator management, issue tracking, wikis, downloads, code review, graphs ...
    %li.gold.clearfix.last-child
      %img{src: 'images/logos/gidsy.png'}
        %p Gidsy is a marketplace for authentic experiences. It's a place where anyone can offer and book tours and activities. By joining a great community of organizers ...
    %li.silver
      %img{src: 'images/logos/shopify.png'}
        %p Shopify offers a ecommerce solution to create and run your own online store.
    %li.silver.last-child
      %img{src: 'images/logos/railslove.png'}
        %p Hello, we are Railslove. We build web applications and, well, we're quite at it.

  %p.footnotes
    %sup 1
    Your company logo here? Review the <a href="#" class="toggle">company packages</a> below.

  .sidenote.left.handwritten
    Don't you also think these folks are extremely cool for helping us? Check them out!
