%section#thanks-guys.paper
  %h2 Thank you, guys!

  %table#donations
    %colgroup
      %col.col-gravatar
      %col.col-name
      %col.col-amount
      %col.col-package
      %col.col-date
      %col.col-comment

  .sidenote.right.handwritten
    ZOMMMG!!1!
    %br
    YOU guys rock!
    %br
    &lt;3 &lt;3 &lt;3 &lt;3
    %br
