%section#thanks-guys.paper
  %h2 Thank you, guys!
  %p TODO Josh, we need some text here :)
  %table#donators.clearfix
  .sidenote.right.handwritten
    ZOMMMG!!1!
    %br
    YOU guys rock!
    %br
    &lt;3 &lt;3 &lt;3 &lt;3
    %br
