%section#ringtones.paper
  %h2 The story with the ringtones
  %p
    Some explanation what the heck is up with these weird ringtones might be in order ... So here's the story.
  %p
    At RuPy in September Yehuda and José were hanging out at our apartement to get some work on the new Rails serializers feature done while we were hacking away on Travis.
  %p
    At some point we noticed that almost every sentence in their pair programming dialog started with "Bro" and it got increasingly difficult to focus on our own code.
  %p
    I've tweeted the gist of it:
  %p
    %img{ src: '/images/bro-tweet.png' }
  %p
    We were having so much fun that we jokingly decided it would be cool to record this stuff and make ringtone from it so everyone in the Ruby community could share it.
  %p
    Somehow this idea became more serious when we noticed that it perfectly fit our ideas about a Travis CI crowd funding round where we also wanted to focus on fun, creative and community things.
  %p
    So we actually asked Jon, José, Aaron and Yehuda to record a few words for us. And they did!
  %p
    Initially it was quiet hard to find someone who is able to both make a cool mix from these materials <i>and</i> understood what the heck we were talking about when we mentioned words like "crowd funding", "Ruby community", "Rails core" and "open source testing platform" ;)
  %p
    But now we have a basic set of ringtones and sound snippets available for your download pleasure.

  %h3
    Add your own stuff!
  %p
    We would <strong>love</strong> if this would evolve to something where people submitted their own recordings, experiments, mixes, ringtones, ... fun stuff.
  %p
    If you are up to this, just send us your stuff and we will add and tweet it!
  %p
    It would be even more cool if there would be some new theme (or topic or meme or idea) attached to it but of course that's entirely up to you.

  %h3 What we have
  %p
    We collect everything on
    %a{ href: 'http://soundcloud.com/travis-ci/sets' } Soundcloud.
    Here's what we have:

  %h4 Rails core ringtones
  %p
    %iframe{frameborder: 'no', height: '450', scrolling: 'no', src: 'https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F1449285&auto_play=false&show_artwork=false&color=ff7700', width: '100%'}

  %h4 Experiments
  %p
    %iframe{frameborder: 'no', height: '450', scrolling: 'no', src: 'https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F1336046&auto_play=false&show_artwork=false&color=ff7700', width: '100%'}

  %h4 Original recordings
  %p
    %iframe{frameborder: 'no', height: '450', scrolling: 'no', src: 'https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F1336054&auto_play=false&show_artwork=false&color=ff7700', width: '100%'}
