%section#sponsoring_plans.paper
  %h2
    Travis CI crowd funding company packages
  %p
    There are 3 regular packages available: Platinum, Gold and Silver.

  %ul
    %li
      %strong Platinum:
      We do everything we can in order to draw attention to you: You get the
      largest amount of space, displayed most often and a personal visit from
      one of the team. There are 4 spots available.
    %li
      %strong Gold:
      Similar to Platinum but with about half the amount of the space, and you
      are  displayed alongside a second Gold sponsor. There are 8 spots
      available.
    %li
      %strong Silver:
      As with the other plans, we will also drive as much attention to you as possible.
      However, we will only display a limited number of banners and links at once in
      most places. The number of silver sponsors is unlimited.
  %p
    All of these packages will run as long as the Travis CI crowd funding campaign lasts, but at least 6 months.
  %p
    Space for banners, texts and links is available in the following places:

  %table
    %thead
      %tr
        %th
        %th
          Platinum
        %th
          Gold
        %th
          Silver

    %tbody
      %tr
        %th
          Crowd funding site
          %sup
            %a{href: '#fn-1'} 1
        %td
          880x210 px, 1 per view
        %td
          430x110 px, 2 per view
        %td
          205x60 px, 4 per view


      %tr
        %th
          Application sidebar
          %sup
            %a{href: '#fn-2'} 2
        %td
          205x130 px, 1 per view
        %td
          205x60 px, 2 per view
        %td
          Text link, 6 per view

      %tr
        %th
          Build notifications
        %td
          (size tbd), 1 per view
        %td
          (size tbd), 2 per view
        %td.no
          &mdash;

      %tr
        %th
          Sponsors page
          %sup
            %a{href: '#fn-3'} 3
        %td
          880x210 px
        %td
          430x110 px
        %td
          205x60 px

      %tr
        %th
          Blog
          %sup
            %a{href: '#fn-4'} 4
        %td
          Full post
        %td
          Shared post
        %td
          Summary post (1 paragraph)

      %tr
        %th
          Twitter
          %sup
            %a{href: '#fn-5'} 5
        %td.yes
          Yes
        %td.yes
          Yes
        %td.maybe
          &mdash;
          %sup
            %a{href: '#fn-6'} 6

      %tr
        %th
          Conference Talks
        %td
          Yes
        %td.maybe
          &mdash;
          %sup
            %a{href: '#fn-7'} 7
        %td.maybe
          &mdash;
          %sup
            %a{href: '#fn-7'} 7

      %tr
        %th
          Office visits
        %td
          1-2 for 1-2 days
        %td
          1 for 1 day
        %td
          3 hour remote

      %tr
        %th
          Sticker/swag mailing
        %td.yes
          Yes
        %td.yes
          Yes
        %td.no
          &mdash;

  Ad sizes given in this table are to be finalized and may be subject to change.

  %ul.footnotes
    %li#fn-1
      %sup 1
      <a href="http://travis-crowd-staging.herokuapp.com">Our current staging app</a>.
      Production will be <a href="http://love.travis-ci.org">here</a>.
    %li#fn-2
      %sup 2
      <a href="http://travis-ci.org">Travis CI</a>
    %li#fn-3
      %sup 3
      See <a href="http://love.travis-ci.org/sponsors">here</a>. Will be linked in
      the top menu on the main Travis CI app, below sponsor banner sections as well
      as build notification emails.
    %li#fn-4
      %sup 4
      Our <a href="http://about.travis-ci.org/blog">blog</a>
      will get a redesign as soon as possible.
    %li#fn-5
      %sup 5
      <a href="http://twitter.com/travisci">@travisci</a> as well as
      <a href="http://twitter.com/joshkladerimis">@joshkladerimis</a>,
      <a href="http://twitter.com/konstantinhaase">@konstantinhaase</a>,
      <a href="http://twitter.com/svenfuchs">@svenfuchs</a>
    %li#fn-6
      %sup 6
      We might tweet about silver sponsors on special occasions or personal reasons :)
    %li#fn-7
      %sup 7
      We'll show and mention as many sponsors as fits the talk, but give priority to
      bigger packages.

  %p
    We might also sell special sponsorships in cases that do not use (or
    significantly conflict with) any of the banner spaces used by any of the
    regular packages above. For example, a company is interested in placing a
    small banner on the order form and order confirmation emails as well as a
    testimonial from us expressing how happy we are using their service for
    payments.


  %h3
    Crowd funding site
  %p
    On the Travis CI crowd funding site there is a "Thank you, sponsors" section.
  %p
    The company sponsor layout found at travis-crowd-staging.herokuapp.com
    shows the how company logos are displayed. These logos are rotated so each
    company has an equal opportunity to be shown (per package type).
  %p
    The sponsors list is paginated, so curious users can flip through the pages
    and see all the sponsors who are supporting Travis. And after 5 seconds the
    next page is shown automatically.


  %h3
    Application sidebar
  %p
    The sidebar is in the process of being re-designed so that we have two
    spots where sponsors appear.
  %p
    There will be a slot at the top of the sidebar (above the workers list) that
    displays either 1 Platinum or 2 Gold sponsors at a time.
  %p
    There will be another list of sponsors (below the queues lists) that displays 6
    Silver sponsors at a time as text links.
  %p
    And there will also be a link to the main Travis CI sponsors page
    %sup
      %a{href: '#fn-3'} 3


  %h3
    Build notification emails
  %p
    We display 1 Platinum sponsor or 2 Gold sponsors below every build
    notification email. These are randomized and Platinum sponsors have a
    greater chance to appear over Gold sponsors.
  %p
    And, of course, there will also be a link to the main Travis CI sponsors
    page
    %sup
      %a{href: '#fn-3'} 3


  %h3
    Sponsors page
  %p
    All sponsors will be listed at http://love.travis-ci.org/sponsors in the
    order of their package size (Platinum, Gold, Silver) and in the order of
    their package booking date.
  %p
    Each sponsor entry will contain your logo, your copy (containing links to
    pages of your choice) and the blog post on the Travis CI blog featuring
    your sponsorship (see below).


  %h3
    Blog
  %p
    Platinum and gold sponsors may provide blog posts presenting their company,
    involvement in the open source community and reasons to support Travis CI.
    These blog posts are published without any editing - you write it and we
    put it on our blog. We may stagger publishing of these blog posts as to not
    flood the blog.
  %p
    Platinum sponsors will get their own blog post, while Gold sponsors will
    share a blog post.
  %p
    Silver sponsors may provide a paragraph for a summary post where we thank
    all our Silver sponsors.


  %h3
    Twitter
  %p
    Although we could shout from the roof about how happy we are to have you
    support us, tweeting reaches a larger audience.
  %p
    Once we have added your logo to the crowd funding page we will tweet it out
    to the world from our Travis CI account
    (<a href="http://twitter.com/joshkalderimis">@travisci</a>).
  %p
    We also retweet these tweets from at least one of our personal Twitter
    accounts (<a href="http://twitter.com/joshkalderimis">@joshkalderimis</a>,
    <a href="http://twitter.com/joshkalderimis">@konstantinhaase</a> and
    <a href="http://twitter.com/joshkalderimis">@svenfuchs</a>) for Platinum
    and Gold sponsors, and Silver sponsors on special occasions.
  %p
    All of these accounts have 4237 <i>unique</i> followers according to
    <a href="https://github.com/travis-ci/travis-crowd/blob/master/script/followers.rb">this script</a>.


  %h3
    Conference Talks
  %p
    We show our sponsors' logos on slides and read out names in each conference
    talk about Travis CI. We need to fit this to the actual presentation but we
    do our best to draw as much attention to our sponsors as possible.


  %h3
    Office visits and personal stuff
  %p
    The Platinum and Gold packages include the option to have Josh and/or Sven
    and/or Konstantin visit your office and meet your team for pair programming
    sessions or other kinds of events.


  %h3
    Sticker/swag mailing
  %p
    We send out one or many stickers to every donor through snail mail.
  %p
    Platinum and Gold sponsors can contribute own stickers or other swag that
    will be included to these mailings. For items that contribute significant
    size the sponsor might need to help with additional postal charges.

