%section#sponsoring_plans.paper
  %h2
    Travis CI crowd funding company packages
  %p
    There are 3 regular packages available: Platinum, Gold and Silver.

  %ul
    %li
      %strong Platinum:
      We do everything we can in order to draw attention to you: You get the
      largest amount of space, displayed most often and a personal visit from
      one of the team. There are 4 spots available.
    %li
      %strong Gold:
      Similar to Platinum but with about half the amount of the space, and you
      are  displayed alongside a second Gold sponsor. There are 8 spots 
      available.
    %li
      %strong Silver:
      We also drive as much attention to you as possible but these spots are
      not limited. Therefor space is limited and banners/links appear in
      slightly longer lists and fewer places.
      <!-- These spots are not limited, but we only display 4 on each page. The
      more companies which take up this package the less often your logo might
      be shown. -->

  %p
    All of these packages will run as long as the Travis CI crowd funding campaign lasts, but at least 4 months. <!-- TBD -->
  %p
    Space for banners, texts and links is available in the following places:

  %ol
    %li
      Crowd funding site
      %sup
        %a{href: '#fn-1'} 1
    %li
      Main application sidebar
      %sup
        %a{href: '#fn-2'} 2
    %li
      Build notification emails
    %li
      Sponsors page
      %sup
        %a{href: '#fn-3'} 3
    %li
      Blog
      %sup
        %a{href: '#fn-4'} 4
    %li
      Twitter
      %sup
        %a{href: '#fn-5'} 5
    %li
      Conference Talks
    %li
      Office visits and personal stuff
    %li
      Sticker/swag mailing

  %p
    We might also sell special sponsorships in cases that do not use (or
    significantly conflict with) any of the banner spaces used by any of the
    regular packages above. For example, a company is interested in placing a
    small banner on the order form and order confirmation emails as well as a
    testimonial from us expressing how happy we are using their service for
    payments.

  %ul.footnotes
    %li#fn-1
      %sup 1
      <a href="http://travis-crowd-staging.herokuapp.com">current staging app</a>
      production will be <a href="http://love.travis-ci.org">here</a>
    %li#fn-2
      %sup 2
      <a href="http://travis-ci.org">Travis CI</a>
    %li#fn-3
      %sup 3
      does not exist yet, will be <a href="http://love.travis-ci.org/sponsors">here</a>
      and linked in the top menu on the main Travis CI app and below sponsor banner sections
    %li#fn-4
      %sup 4
      our <a href="http://about.travis-ci.org/blog">blog</a>
      will get a redesign as soon as possible
    %li#fn-5
      %sup 5
      <a href="http://twitter.com/travisci">@travisci</a> as well as
      <a href="http://twitter.com/joshkladerimis">@joshkladerimis</a>,
      <a href="http://twitter.com/konstantinhaase">@konstantinhaase</a>,
      <a href="http://twitter.com/svenfuchs">@svenfuchs</a>

  %h3
    Crowd funding site
  %p
    On the Travis CI crowd funding site there is a "Thank you, sponsors" section.
  %p
    The company sponsor layout found at travis-crowd-staging.herokuapp.com
    shows the how company logos are displayed. These logos are rotated so each
    company has an equal opportunity to be shown (per package type).
  %p
    The sponsors list is paginated, so curious users can flip through the pages
    and see all the sponsors who are supporting Travis. And after 5 seconds the
    next page is shown automatically.


  %h3
    Application sidebar
  %p
    The sidebar is in the process of being re-designed so that we have two
    spots where sponsors appear.
  %p
    There will be a slot at the top of the sidebar (above the workers list) that
    displays either 1 Platinum or 2 Gold sponsors at a time.
  %p
    There will be another list of sponsors (below the queues lists) that displays 6
    Silver sponsors at a time as text links.
  %p
    And there will also be a link to the main Travis CI sponsors page
    %sup
      %a{href: '#fn-3'} 3


  %h3
    Build notification emails
  %p
    We display 1 Platinum sponsor or 2 Gold sponsors below every build
    notification email. These are randomized and Platinum sponsors have a
    greater chance to appear over Gold sponsors.
  %p
    And, of course, there will also be a link to the main Travis CI sponsors
    page
    %sup
      %a{href: '#fn-3'} 3


  %h3
    Sponsors page
  %p
    All sponsors will be listed at http://love.travis-ci.org/sponsors in the
    order of their package size (Platinum, Gold, Silver) and in the order of
    their package booking date.
  %p
    Each sponsor entry will contain your logo, your copy (containing links to
    pages of your choice) and the blog post on the Travis CI blog featuring
    your sponsorship (see below).


  %h3
    Blog
  %p
    Platinum and gold sponsors may provide blog posts presenting their company,
    involvement in the open source community and reasons to support Travis CI.
    These blog posts are published without any editing - you write it and we
    put it on our blog. We may stagger publishing of these blog posts as to not
    flood the blog.
  %p
    Platinum sponsors will get their own blog post, while Gold sponsors will
    share a blog post.
  %p
    Silver sponsors may provide a paragraph for a summary post where we thank
    all our Silver sponsors.


  %h3
    Twitter
  %p
    Although we could shout from the roof about how happy we are to have you
    support us, tweeting reaches a larger audience.
  %p
    Once we have added your logo to the crowd funding page we will tweet it out
    to the world!
  %p
    We also retweet these tweets from at least one of our personal Twitter
    accounts (@joshkalderimis, @konstantinhaase and @svenfuchs) for Platinum
    and Gold sponsors, and Silver sponsors on special occasions.


  %h3
    Conference Talks
  %p
    We show our sponsors' logos on slides and read out names in each conference
    talk about Travis CI. We need to fit this to the actual presentation but we
    do our best to draw as much attention to our sponsors as possible.


  %h3
    Office visits and personal stuff
  %p
    The Platinum and Gold packages include the option to have Josh and/or Sven
    and/or Konstantin visit your office and meet your team for pair programming
    sessions or other kinds of events.


  %h3
    Sticker/swag mailing
  %p
    We send out one or many stickers to every donor through snail mail.
  %p
    Platinum and Gold sponsors can contribute own stickers or other swag that
    will be included to these mailings. For items that contribute significant
    size the sponsor might need to help with additional postal charges.

