%section#sponsoring_sizes.paper
  %h2
    Travis CI Sponsorship Ad sizes

  %table
    %tbody
      %tr
        %th
          %a{href: 'http://love.travis-ci.org'} Crowdfunding page
        %th
          Platinum
        %th
          Gold
        %th
          Silver
      %tr
        %th
          Ad size
        %td
          880x210 px
        %td
          430x130 px
        %td
          205x60 px
      %tr
        %th
          Logo size
        %td
          210x210 px
        %td
          205x130 px
        %td
          205x60 px
      %tr
        %th
          Text length
        %td
          &#126;600 chars
        %td
          &#126;175 chars
        %td
          &dash;

    %tbody
      %tr
        %th
          %a{href: 'http://love.travis-ci.org/sponsors'} Sponsors page
        %th
          Platinum
        %th
          Gold
        %th
          Silver
      %tr
        %th
          Ad size
        %td
          880x210 px
        %td
          880x130 px
        %td
          880x60 px
      %tr
        %th
          Logo size
        %td
          210x210 px
        %td
          205x130 px
        %td
          205x60 px
      %tr
        %th
          Text length
        %td
          &#126;750 chars
        %td
          &#126;500 chars
        %td
          &#126;250 chars

    %tbody
      %tr
        %th
          %a{href: 'http://travis-ci.org'} Travis CI app sidebar
        %th
          Platinum
        %th
          Gold
        %th
          Silver
      %tr
        %th
          Ad size
        %td
          205x130 px
        %td
          205x60 px
        %td
          Text link, 2 lines
      %tr
        %th
          Logo size
        %td
          205x130 px
        %td
          205x60 px
        %td
          &dash;
      %tr
        %th
          Text length
        %td
          &dash;
        %td
          &dash;
        %td
          &#126;45 chars

    %tbody
      %tr
        %th
          Build notification emails
        %th
          Platinum
        %th
          Gold
        %th
          Silver
      %tr
        %th
          Ad size
        %td
          750x100px
        %td
          375x100px
        %td
          &dash;
      %tr
        %th
          Logo size
        %td
          100x60 px
        %td
          100x60 px
        %td
          &dash;
      %tr
        %th
          Text length
        %td
          &#126;250 chars
        %td
          &#126;100 chars
        %td
          &dash;

