%section#sponsors.paper
  %h2
    Thank you, sponsors!
  %p
    All of these companies do help Travis CI to be run, to be pushed further and to be as useful for the open source community as it is.
  %p
    We can barely express how thankful and happy we are. Please share the love and check them out!

  #platinum
    %h3
      Platinum sponsors

    %ul
      %li.wooga
        %a{href: 'http://www.wooga.com'}
          %img{src: '/images/sponsors/wooga-210x210.png'}
        %p
          Founded in 2009 in Europe´s technology hub, Berlin,
          <a href="http://www.wooga.com">Wooga</a> is the third largest
          social games developer in the world.
        %p
          <a href="http://www.wooga.com">Wooga</a> creates high quality games for
          Facebook and iOS, with a specific focus on emotional character development,
          usability, and superb localization in seven languages.
          <a href="http://www.wooga.com">Wooga</a> is committed to creating innovative and original game titles
          for players of all ages, bringing millions of users around the world
          together through a world of gaming.
        %p
          <a href="http://www.wooga.com">Wooga</a>´s free-to-play Facebook
          games are enjoyed by over 35 million active players per month - 70%
          of which are women.
          For more information please visit: <a href="http://www.wooga.com">www.wooga.com</a>
      %li.bendyworks
        %a{href: 'http://bendyworks.com'}
          %img{src: '/images/sponsors/bendyworks-210x210.png'}
        %p
          <a href="http://bendyworks.com">Bendyworks</a>
          is an agile Ruby on Rails &amp; iOS development consulting
          shop that hails from Madison, Wisconsin, USA. Bendyworks was founded
          in 2009 to turn great ideas into elegant applications, with plenty of
          room for creative revision and refinement along the way, while saving
          time &amp; money.
        %p
          The way Bendyworks approaches projects can be summed up in a single
          word: flexibility. From the frequent and clear communication down to
          the methods used to code, the entire process revolves around staying
          nimble and adaptable to client needs.
        %p
          Bendyworks also believes strongly in the power of community. From
          hosting local meetups to writing open source code, Bendyworks is
          committed to the programming community.
      %li.cloudcontrol
        %a{href: 'http://cloudcontrol.com'}
          %img{src: '/images/sponsors/cloudcontrol-210x210.png'}
        %p
          <a href="https://www.cloudcontrol.com">cloudControl</a> is PaaS made
          in Berlin, Germany. Since 2009 we're dedicated to supercharge
          development by building the best platform possible to help developers
          build better apps faster.
        %p
          The cloudControl platform features agile deployments, rock-solid
          autoscaling infrastructure and pay-as-you-go pricing out of Amazon's
          European datacenters.
        %p
          With the cloudControl Add-on market we bring developers all the third
          party Cloud services they need easily integratable into their own
          apps and let them take projects from idea to product faster than ever
          before.
      %li.xing
        %a{href: 'http://xing.com'}
          %img{src: '/images/sponsors/xing-210x210.png'}
        %p
          %a{href: 'http://xing.com'} XING
          is a social network with over 11 million members. We are the leading network for business professionals in Europe. Based in Hamburg, Germany.
        %p
          XING is really into teamwork and using agile techniques. Independent, focused teams build our platform's products. We have been coding Rails since 2006.
        %p
          XING of course
          %a{href: 'https://github.com/xing'} contributes
          to open source and hosts meetups, user groups, after-work events and workshops.
        %p
          We are
          %a{href: 'http://devblog.xing.com/we-are-hiring'} looking for talented people
          to build the social network of the future in Rails, iOS, Android and Perl.

  #gold
    %h3
      Gold sponsors

    %ul
      %li.heroku
        %a{href: 'http://heroku.com'}
          %img{src: '/images/sponsors/heroku-205x130.png'}
        %p
          Agile deployment for Ruby, Node.js, Clojure, Java, Python, and
          Scala. Get up and running in minutes, and deploy instantly with git.
          Focus 100% on your code, and never think about servers, instances,
          or VMs again.
        %p
          Run any web or background process with any web framework or worker
          type. Get direct, granular control over your app's workloads. Scale
          distributed processes effortlessly with a single command. Easily
          scale to millions of users.
      %li.soundcloud
        %a{href: 'http://soundcloud.com'}
          %img{src: '/images/sponsors/soundcloud-205x130.png'}
        %p
          %a{href: 'http://soundcloud.com'} SoundCloud
          is an audio platform that enables anyone to upload, record,
          promote and share their originally-created sounds across the internet,
          in a simple, accessible and feature-rich way.
        %p
          Hey! Looking for a challenging job with a rad team in an exciting city?
          %a{href: 'http://soundcloud.com/jobs'} We're hiring!
      %li.nedap
        %a{href: 'http://nedap.com'}
          %img{src: '/images/sponsors/nedap-205x130.png'}
        %p
          %a{href: 'http://nedap.com'} Nedap
          is a manufacturer of intelligent technological solutions for relevant
          themes. Sufficient food for a growing population, clean drinking
          water throughout the world, smart networks for sustainable energy are
          just a couple of examples of themes Nedap is working on.
        %p
          %a{href: 'http://nedap.com'} Nedap
          offers its employees the opportunity to be entrepreneurs in
          technology that matters. It is not your place in the organization
          that matters, but the quality of your arguments. Initiative,
          perseverance and entrepreneurship are crucial. It means taking
          responsibility and converting ideas into action.
      %li.planio
        %a{href: 'http://plan.io/travis'}
          %img{src: '/images/sponsors/planio-205x130.png'}
        %p
          %a{href: 'http://plan.io/travis'} Planio
          is a Redmine and Git hosting service made with love in Berlin. We specialize in
          rock solid and blazingly fast infrastructure for your code and project hosting
          as well as super-friendly support.
        %p
          For the uninitiated, Redmine is a very flexible OSS project management software
          to track bugs, report live exceptions, keep a wiki and generally manage your
          software project.  Our Git hosting is tightly integrated, so you can reference
          and close bugs, issues, exceptions right from your commit messages. Oh, and
          should you prefer, the same is available with our hosted Subversion repos.
    %ul
      %li.mongohq
        %a{href: 'http://mongohq.com'}
          %img{src: '/images/sponsors/mongohq-205x130.png'}
        %p
          %a{href: 'http://mongohq.com'} MongoHQ
          is the proven solution for using MongoDB on the web.
        %p
          MongoHQ is the hosted database solution for getting your applications
          up and running on MongoDB, fast. From our free shared plans to custom
          dedicated solutions, we can handle all the different levels of your
          data layer.
        %p
          Every day, thousands of people around the world trust their data
          layer with MongoHQ.
    %ul
      %li.zweitag
        %a{href: 'http://zweitag.de'}
          %img{src: '/images/sponsors/zweitag-205x130.png'}
        %p
          %a{href: 'http://zweitag.de'} Zweitag
          is a software engineering consultancy. We create beautiful web apps
          and help our customers to be first (rapid prototyping) and best
          (software engineering made in Germany) in class.
        %p
          Our agile solutions to complex technical problems are based on the right
          tools (e.g. Ruby on Rails, node.js, nosql). Our customers are located
          worldwide. We are working testdriven and agile on a variety of
          projects ranging from "enterprisey" intranet applications to rapid
          prototyping our customers' startups. Our team consists of 16 smart
          minds who share the love to technology and life after work.
    %ul
      %li.kanbanery
        %a{href: 'http://kanbanery.com'}
          %img{src: '/images/sponsors/kanbanery-205x130.png'}
        %p
          <a href="http://kanbanery.com">Kanbanery</a>, a product of
          <a href="http://lunarlogicpolska.com">Lunar Logic Polska</a>,
          is a web-based task manager that helps you work more effectively,
          alone and together, by visualizing work in progress on your projects.
    %ul
      %li.ticketevolution
        %a{href: 'http://ticketevolution.com'}
          %img{src: '/images/sponsors/ticketevolution-205x130.jpg'}
        %p
          %a{href: 'http://ticketevolution.com'} Ticket Evolution
          is the engineering backbone of the open ticket market. We're an
          expanding team of Ruby engineers who love open source software. Join
          us.

  #silver
    %h3
      Silver sponsors
    %ul
      %li.cobotme
        %a{href: 'http://cobot.me'}
          %img{src: '/images/sponsors/cobotme-205x60.png'}
        %p
          %a{href: 'http://cobot.me'} Cobot
          is the one tool you need to run your coworking space. Cobot
          was created to free coworking space managers from mundane tasks,
          giving them the time to do what is important: attending to their
          coworkers.
      %li.jumpstartlab
        %a{href: 'http://jumpstartlab.com'}
          %img{src: '/images/sponsors/jumpstartlab-205x60.png'}
        %p
          %a{href: 'http://jumpstartlab.com'} JumpstartLab
          offers the best web development training anywhere. We’re known for
          our expertise in Ruby on Rails, but also instruct courses in jQuery,
          JavaScript, ExtJS, and Git. For companies and teams, we offer
          %a{href: 'http://jumpstartlab.com/custom-training'} custom training
          anywhere from two days to six months.
      %li.evilmartians
        %a{href: 'http://evilmartians.com'}
          %img{src: '/images/sponsors/evilmartians-205x60.png'}
      %li.zendesk
        %a{href: 'http://zendesk.com'}
          %img{src: '/images/sponsors/zendesk-205x60.png'}
        %p
          %a{href: 'http://zendesk.com'} Zendesk
          is the fastest way to great customer support. It's also a nice little
          %a{href: 'http://developer.zendesk.com'} software company
          that tries to help people from
          %a{href: 'http://www.zendesk.com/map'} all over the world
          to get their problems solved.
      %li.stripe
        %a{href: 'http://stripe.com'}
          %img{src: '/images/sponsors/stripe-205x60.png'}
        %p
          %a{href: 'http://stripe.com'} Stripe
          is the first service we have used that makes payments absolutely
          trivial and we are soo happy to use them for our
          %a{href: 'http://love.travis-ci.org'} crowd funding campaign.
          Stripe has also donated a huge amount of credits in payment fees.
      %li.basho
        %a{href: 'http://basho.com'}
          %img{src: '/images/sponsors/basho-205x60.png'}
        %p
          %a{href: 'http://basho.com'} Basho Technologies
          is the commercial sponsor of Riak, the most powerful open-source,
          distributed database you'll ever run in production. Riak is used
          by companies like Yammer, Comcast, Voxer, and Bump to power
          applications that can't go down.
      %li.thinkrelevance
        %a{href: 'http://thinkrelevance.com'}
          %img{src: '/images/sponsors/thinkrelevance-205x60.png'}
        %p
          %a{href: 'http://thinkrelevance.com'} Relevance
          works with our partners to build value through software.
          We specialize in full-cycle development and bring excellence and
          experience to the roles we fill, from development and design to
          project management, architecture and operations.
      %li.mindmatters
        %a{href: 'http://mindmatters.de'}
          %img{src: '/images/sponsors/mindmatters-205x60.png'}
        %p
          %a{href: 'http://mindmatters.de' } We
          provide web software development, agile and lean development
          process support and help our clients with market and customer
          discovery. Also we're always on the lookout for agile and technology
          agnostic developers in our
          %a{href: 'http://mindmatters.de/software-entwickler-stellenangebot-mindmatters.html' } Hamburg
          and
          %a{href: 'http://mindmatters.co.uk/hiring-software-engineers.html' } London
          offices.
      %li.amen
        %a{href: 'http://amenhq.com'}
          %img{src: '/images/sponsors/amen-205x60.jpg'}
        %p
          The Best and Worst of Everything:
          %a{href: 'http://amenhq.com'} Amen
          is a service for creating and sharing opinions about the
          extraordinary things in life. Take a stand about the best or worst
          people, places, things and ideas.
          Get the Amen iPhone app on the
          %a{href: 'http://itunes.apple.com/us/app/amen/id468064893'} App Store!
      %li.site5
        %a{href: 'http://gk.site5.com/t/503'}
          %img{src: '/images/sponsors/site5-205x60.png'}
        %p
          %a{href: 'http://gk.site5.com/t/503'} Site5
          has
          %a{href: 'http://gk.site5.com/t/504'} multiple web hosting locations
          around the world, amazing support, and guaranteed uptime!
          Our commitment to customer satisfaction is unparalleled.
          All at a price that will make you smile.
      %li.eighthlight
        %a{href: 'http://8thlight.com'}
          %img{src: '/images/sponsors/8thlight-205x60.jpg'}
        %p
          At
          %a{href: 'http://8thlight.com'} 8th Light
          we craft custom software applications that are beautiful, durable and free
          of defects in workmanship.
      %li.crowdinteractive
        %a{href: 'http://www.crowdint.com'}
          %img{src: '/images/sponsors/crowdinteractive-205x60.png'}
        %p
          %a{href: 'http://www.crowdint.com'} Crowd Interactive
          is a leading Ruby and Rails consultancy firm based in Mexico. We
          specialize in building and growing Rails applications, by increasing
          your IT crew onsite or offsite. We pick our projects carefully, as we
          only work with companies we believe in.
      %li.atomicobject
        %a{href: 'http://atomicobject.com/detroit'}
          %img{src: '/images/sponsors/atomicobject-205x60.png'}
        %p
          Work with really smart people on really challenging problems using
          cutting-edge tools, technologies, and practices at
          %a{href: 'http://atomicobject.com/detroit'} Atomic Object.
          We're a small company where you can make a difference. Help us build
          some of the world's best software products at our offices in Grand
          Rapids and Detroit
          %a{href: 'http://spin.atomicobject.com/wp-content/uploads/michigan.jpg'} Michigan.
      %li.codeminer
        %a{href: 'http://codeminer.com.br'}
          %img{src: '/images/sponsors/codeminer-205x60.png'}
        %p
          %a{href: 'http://codeminer.com.br'} Codeminer 42
          is a startup consultancy geared towards Ruby, Ruby on Rails, Mobile
          development and cutting edge solutions not found in big, slow, narrow
          minded software factories and traditional consultancies
      %li.cloudant
        %a{href: 'http://cloudant.com'}
          %img{src: '/images/sponsors/cloudant-205x60.jpg'}
        %p
          %a{href: 'http://cloudant.com'} Cloudant
          is a scalable data layer (as a service) for big data applications.
          Built on the
          %a{href: 'http://couchdb.apache.org/'} Apache CouchDB
          document database, JSON, and MapReduce, it collects, stores, analyzes
          and distributes data globally for you.
          %a{href: 'https://cloudant.com/#/solutions/cloud'} Try it for free
          today!
      %li.gidsy
        %a{href: 'http://gidsy.com'}
          %img{src: '/images/sponsors/gidsy-205x60.png'}
        %p
          %a{href: 'http://gidsy.com'} Gidsy
          is a place where anyone can explore, organize and book unique things
          to do. Think off the beaten path walking tours guided by locals,
          nature hikes with wild cavemen and cooking classes hosted by
          professional chefs.
      %li.readmill
        %a{href: 'http://readmill.com'}
          %img{src: '/images/sponsors/readmill-205x60.png'}
        %p
          %a{href: 'http://readmill.com'} Readmill
          is the best reading app on the iPad. It features a great reading
          experience along with social features like highlighting, commenting
          and liking. With Readmill, readers can seamlessly collect and share
          what they are reading and their favorite parts from books.
      %li.agileanimal
        %a{href: 'http://agileanimal.com'}
          %img{src: '/images/sponsors/agileanimal-205x60.png'}
        %p
          %a{href: 'http://agileanimal.com'} AGiLE ANiMAL INC.
          We specialize in iterative software development and consulting
          with a focus on web-based and mobile applications and APIs.
      %li.5apps
        %a{href: 'http://5apps.com'}
          %img{src: '/images/sponsors/5apps-205x60.png'}
        %p
          One codebase to rule them all!
          %a{href: 'http://5apps.com'} 5apps
          automatically packages and deploys your HTML5 app for painless
          distribution to all major platforms and web app stores. Use any
          framework you want.
      %li.meltmedia
        %a{href: 'http://meltmedia.com'}
          %img{src: '/images/sponsors/meltmedia-205x60.png'}
        %p
          We are Interactive Superheroes.
          More specifically, we're a passionate team of technology experts,
          digital strategists, and design leaders in Tempe, Arizona, and we're
          using our mighty powers to save the world.
      %li.fngtps
        %a{href: 'http://fngtps.com'}
          %img{src: '/images/sponsors/fingertips-205x60.png'}
        %p
          %a{href: 'http://fngtps.com'} Fingertips
          offers design and development services for Web, iPhone, iPad, and Mac
          OS X apps.
      %li.engineyard
        %a{href: 'http://www.engineyard.com'}
          %img{src: '/images/sponsors/engineyard-205x60.png'}
        %p
          Build epic apps. Let our platform handle the rest.
          Thousands of delighted customers use our PaaS to deploy and scale
          applications in the Cloud.
      %li.malwarebytes
        %a{href: 'http://malwarebytes.org'}
          %img{src: '/images/sponsors/malwarebytes-205x60.png'}
        %p
          %a{href: 'http://malwarebytes.org'} Malwarebytes
          is a leading provider of anti-malware software. With
          more than 100 million downloads, it pioneered the creation
          of a new generation of effective, behavior-based and heuristic
          malware detection technologies that recognizes and stops malicious
          activities before they can even start.
      %li.medidata
        %a{href: 'http://www.mdsol.com'}
          %img{src: '/images/sponsors/medidata-205x60.png'}
        %p
          The heart of <a href="http://www.mdsol.com">Medidata</a>'s business
          is building clinical trial technologies that improve quality of life.
          Help us build the clinical cloud platform that is revolutionizing the
          velocity and cost of approving safe and effective drugs.  We invite
          you to make a difference.
      %li.esm
        %a{href: 'http://coderwall.com/teams/4f27194e973bf000040005f0'}
          %img{src: '/images/sponsors/esm-205x60.png'}
        %p
          %a{href: 'http://coderwall.com/teams/4f27194e973bf000040005f0'} Eiwa System Management (ESM), Inc.
          is one of the best company building cutting-edge Ruby/Rails
          applications with agile software development methods in Japan. We are
          maximizing client's return on investment.
      %li.twitter
        %a{href: 'http://twitter.com'}
          %img{src: '/images/sponsors/twitter-205x60.png'}
        %p
          %a{href: 'http://twitter.com'} Twitter
          is a communication platform that instantly connects people
          everywhere to what's most meaningful to them.
          Follow
          %a{href: 'http://twitter.com/TwitterOSS'} @TwitterOSS
          for updates on Twitter's open source work.
      %li.tupalo
        %a{href: 'http://tupalo.com'}
          %img{src: '/images/sponsors/tupalo-205x60.png'}
        %p
          %a{href: 'http://tupalo.com'} Tupalo.com
          is a social local search community, where 4 million people Worldwide
          discover, review and share the best local businesses every month.
          Founded in Vienna, Austria in 2007,
          %a{href: 'http://tupalo.com'} Tupalo.com
          communities are thriving in Austria, Netherlands, Poland, Denmark,
          Sweden, Finland and the USA.
      %li.fiksu
        %a{href: 'http://fiksu.com'}
          %img{src: '/images/sponsors/fiksu-205x60.png'}
        %p
          %a{href: 'http://fiksu.com'} Fiksu, Inc.
          helps leading brands optimize their iOS and Android mobile app
          marketing campaigns and secure large volumes of loyal users. The
          company’s flagship platform, Fiksu® for Mobile Apps spans the entire
          mobile ecosystem providing the most cost-effective, predictable and
          intelligent mobile advertising solution, slashing user acquisition
          costs and ensuring sustained user engagement.
      %li.pivotallabs
        %a{href: 'http://pivotallabs.com'}
          %img{src: '/images/sponsors/pivotallabs-205x60.png'}
        %p
          %a{href: 'http://pivotallabs.com/'} Pivotal Labs
          applies collaborative, disciplined development techniques to
          accelerate time to market, reduce execution risk, and increase
          quality for all types of businesses, from start-ups to global
          enterprise organizations.
      %li.saucelabs
        %a{href: 'http://saucelabs.com'}
          %img{src: '/images/sponsors/saucelabs-205x60.png'}
        %p
          Sauce Labs' cloud-based service allows savvy developers to quickly
          test web applications on over 100 browsers and platforms including
          iOS, Android & Mac OS X. Selenium-compatible functional testing and
          easy manual testing with built-in video recording of every test,
          debugging tools and safe, secure infrastructure make Sauce flexible
          and easy. Sauce supports functional testing in all the popular
          programming languages, frameworks and CI systems. For more
          information, visit
          %a{href: 'http://saucelabs.com'} saucelabs.com.

  #code
    %h3
      Code sponsors!
    %ul
      %li.enterprise-rails
        %a{href: 'http://enterprise-rails.com'}
          %img{src: '/images/sponsors/enterprise-rails-140x40.png'}
        %p
          %a{href: 'http://enterprise-rails.com'} Enterprise Rails
          is sponsoring a halftime position for
          %a{href: 'https://github.com/lucaspinto'} Lucas Pinto
          to work on Travis CI open source code. To date Lucas has contributed some
          great features and refactorings.


  #workers
    %h3
      Worker sponsors

    %ul
      %li.enterprise-rails
        %a{href: 'http://enterprise-rails.com'}
          %img{src: '/images/sponsors/enterprise-rails-140x40.png'}
        %p
          %a{href: 'http://enterprise-rails.com'} Enterprise Rails
          has supported Travis CI right from the start! They are sponsoring no
          less than 3 worker boxes that we use to run Ruby and Rails builds as
          well as our staging worker.
      %li.engineyard
        %a{href: 'http://engineyard.com'}
          %img{src: '/images/sponsors/engineyard-140x40.png'}
        %p
          %a{href: 'http://engineyard.com'} Engine Yard
          contributes 2 worker boxes that we use to run Ruby and
          Rails builds.
      %li.railslove
        %a{href: 'http://railslove.com'}
          %img{src: '/images/sponsors/railslove-140x40.png'}
        %p
          %a{href: 'http://railslove.com'} Railslove
          contributes 1 worker box that we use to run Ruby builds.
          They also helped a lot to get an initial version of our
          %a{href: 'http://love.travis-ci.org'} crowd funding page
          going. Working with Railslove is always a great pleasure!
      %li.transloadit
        %a{href: 'http://transloadit.com'}
          %img{src: '/images/sponsors/transloadit-140x40.png'}
        %p
          %a{href: 'http://transloadit.com'} Transloadit
          contributes 1 worker box that we use to run Node.js builds.
      %li.servergrove
        %a{href: 'http://servergrove.com'}
          %img{src: '/images/sponsors/servergrove-140x40.png'}
        %p
          %a{href: 'http://servergrove.com'} Servergrove
          contributes 1 worker box that we use to run PHP builds.
      %li.alchemycms
        %a{href: 'http://alchemy-cms.com/'}
          %img{src: '/images/sponsors/alchemycms-140x40.png'}
        %p
          %a{href: 'http://alchemy-cms.com/'} Alchemy CMS
          contributes 1 worker box that we use to run PHP and Python builds.

  #services
    %h3
      Service sponsors
    %ul.services
      %li.heroku-services
        %a{href: 'http://heroku.com'}
          %img{src: '/images/sponsors/heroku-140x40.png'}
        %p
          If there's anything we have to say about
          %a{href: 'http://heroku.com'} Heroku
          then that's:
          %strong we love you!
          Heroku essentially made it possible for us to make Travis CI the
          service it is by running our web and messaging architecture for free.

      %li.pusher
        %a{href: 'http://pusher.com'}
          %img{src: '/images/sponsors/pusher-140x40.png'}
        %p
          Ever found yourself hypnothized, starring at a build log while it is
          updated live in your browser?
          %a{href: 'http://pusher.com'} Pusher
          makes it super easy to work with
          websockets and they were kind enough to donate a "Big Boy" account.

      %li.iriscouch
        %a{href: 'http://iriscouch.com'}
          %img{src: '/images/sponsors/iriscouch-140x40.png'}
        %p
          We use
          %a{href: 'http://iriscouch.com'} Iriscouch
          for archiving build data to a couchdb in order
          to keep our production database small. Iriscouch is a huge pleasure to
          work with and they donated an account right away.

      %li.postmark
        %a{href: 'http://postmarkapp.com'}
          %img{src: '/images/sponsors/postmark-140x40.png'}
        %p
          We use
          %a{href: 'http://postmarkapp.com'} Postmark
          for sending out emails and we absolutely enjoy it.
          Postmark provides exactly the neat and simple way to send emails that
          we were looking for.

      %li.librato-metrics
        %a{href: 'http://metrics.librato.com'}
          %img{src: '/images/sponsors/librato-metrics-140x40.png'}
        %p
          We use
          %a{href: 'http://metrics.librato.com'} Librato Metrics
          to ensure Travis CI is always running smoothly. It allows us to see
          what's going on in Travis CI in real time, making it easy to spot
          problems immediately.

      %li.papertrail
        %a{href: 'http://papertrailapp.com'}
          %img{src: '/images/sponsors/papertrail-140x40.png'}
        %p
          We stream and aggregate our logs in
          %a{href: 'http://papertrailapp.com'} Papertrail
          so that we always know what Travis CI is doing at any moment.
          It allows us to not only search and filter the aggregated logs,
          but also to get notified when errors occur and to have problems
          and errors easily graphed.

      %li.yourkit
        %a{href: 'http://yourkit.com'}
          %img{src: '/images/sponsors/yourkit-140x40.png'}
        %p
          YourKit is kindly supporting open source projects with its full-featured Java Profiler.
          YourKit, LLC is the creator of innovative and intelligent tools for profiling
          Java and .NET applications. Take a look at YourKit's leading software products:
          %a{href: 'http://www.yourkit.com/java/profiler/index.jsp'}YourKit Java Profiler
          and
          %a{href: 'http://www.yourkit.com/.net/profiler/index.jsp'}YourKit .NET Profiler.

  #special-thanks
    %h3 Special thanks!

    %ul
      %li.stickermule
        %a{href: 'http://stickermule.com'}
          %img{src: '/images/sponsors/stickermule-140x40.png'}
        %p
          %a{href: 'http://stickermule.com'} Stickermule
          has donated all the amazing Travis CI stickers that we are
          happily sending out as part of our
          %a{href: 'http:/love.travis-ci.org'} crowd funding campaign.
          This is just amazing. Thanks a ton, Stickermule!
      %li.jumpstartlab-special
        %a{href: 'http://jumpstartlab.com'}
          %img{src: '/images/sponsors/jumpstartlab-140x40.png'}
        %p
          %a{href: 'http://jumpstartlab.com'} JumpstartLab
          has made it possible for us to use Stripe for
          payments by acting as a clearing agent. We can't express how much that is
          worth to us. Thank you so much, Jeff!

