%section#sponsors.paper
  %h2
    Thank you, sponsors!
  %p
    All of these companies do help Travis CI to be run, to be pushed further and to be as useful for the open source community as it is.
  %p
    We can barely express how thankful and happy we are. Please share the love and check them out!

  %h3
    Platinum sponsors

  %ul
    %li ...

  %h3
    Gold sponsors

  %ul
    %li ...

  %h3
    Silver sponsors

  %ul
    %li ...

  %h3
    Worker sponsors

  %ul
    %li
      %a{href: 'http://enterprise-rails.com'}
        %img{src: '/images/banners/enterprise-rails.png'}
      %p
        Julian Fischer from
        %a{href: 'http://avarteq.com'} Avarteq
        has supported Travis CI right from the start! They are sponsoring no
        less than 3 worker boxes that we use to run Ruby and Rails builds as
        well as our staging worker.
    %li
      %a{href: 'http://engineyard.com'}
        %img{src: '/images/banners/engineyard.png'}
      %p
        Engine Yard contributes 2 worker boxes that we use to run Ruby and
        Rails builds.
    %li
      %a{href: 'http://railslove.com'}
        %img{src: '/images/banners/railslove.png'}
      %p
        Railslove contributes 1 worker boxes that we use to run Ruby builds.
        They also helped great lengths to get an initial version of our 
        %a{href: 'http://love.travis-ci.org'} crowd funding page
        going. Working with Railslove is always a great pleasure!
    %li
      %a{href: 'http://shopify.com'}
        %img{src: '/images/banners/shopify.png'}
      %p
        Shopify contributes 1 worker boxes that we use to run Node.js builds.
    %li
      %a{href: 'http://servergrove.com'}
        %img{src: '/images/banners/servergrove.png'}
      %p
        Servergrove contributes 1 worker boxes that we use to run PHP builds.


  %h3
    Services sponsors
  %p
    These guys provide awesome services that we are allowed to use for free in
    order to run Travis CI.
  %ul.services
    %li
      %a{href: 'http://heroku.com'}
        %img{src: '/images/banners/heroku.png'}
      %p
        If there's anything we have to say about Heroku then that's:
        %strong we love you!
        Heroku essentially made it possible for us to make Travis CI the
        service it is by running our web and messaging architecture for free.

    %li
      %a{href: 'http://pusher.com'}
        %img{src: '/images/banners/pusher.png'}
      %p
        Ever found yourself hypnothized, starring at a build log while it is
        updated live in your browser? Pusher makes it super easy to work with
        websockets and they were kind enough to donate a "Big Boy" account.

    %li
      %a{href: 'http://stripe.com'}
        %img{src: '/images/banners/stripe.png'}
      %p
        Stripe is the first service we have used that makes payments absolutely
        trivial and we are soo happy to use them for our
        %a{href: 'http://love.travis-ci.org'} crowd funding campaign.
        Stripe has also donated a huge amount of credits in payment fees.

    %li
      %a{href: 'http://postmarkapp.com'}
        %img{src: '/images/banners/postmark.png'}
      %p
        We use Postmark for sending out emails and we absolutely enjoy it.
        Postmark provides exactly the neat and simple way to send emails that
        we were looking for.

    %li
      %a{href: 'http://thoughtbot.com'}
        %img{src: '/images/banners/thoughtbot.png'}
      %p
        Using
        %a{href: 'http://airbrakeapp.com'} Airbrake
        for exception tracking is a no-brainer.
        %a{href: 'http://thoughtbot.com'} Thoughtbot
        donates a large plan.

  %h3 Special thanks!

  %p
    We would also like to say a huge thank you to these guys:

  %ul
    %li
      Jeff Casimir from Jumpstart made it possible for us to use Stripe for
      payments by acting as a clearing agent. We can't express how much that is
      worth to us. Thank you so much, Jeff!

