%section#sponsoring_plans.paper
  %h2
    Travis CI crowd funding company packages
  %p
    There are 3 regular types of packages: Platinum, Gold and Silver. The basic idea behind these is:

  %ul
    %li
      %strong Platinum:
      We do everything we can in order to drive attention to these sponsors. They get the biggest amounts of space, are displayed most often and get special attention from us personally.
    %li
      %strong Gold:
      Basically the same as Platinum but with about 50% amount of the space and they are usually displayed with a second Gold sponsor next to them.
    %li
      %strong Silver:
      We also drive as much attention to them as possible but these spots are not limited and thus space is limited even more and banners appear in slightly bigger lists and fewer places.

  %p
    Platinum spots are limited to 4, Gold spots to 8, while Silver spots are limited technically.
  %p
    All sponsoring packages will last as long as the Travis CI crowd funding campaign lasts, but at least X months (to be defined).
  %p
    Space for banners, texts and links is available in the following places:

  %ol
    %li
      Crowd funding site
      %sup
        %a{href: '#fn-1'} 1
    %li
      Main application sidebar
      %sup
        %a{href: '#fn-2'} 2
    %li
      Build notification emails
    %li
      Sponsors page
      %sup
        %a{href: '#fn-3'} 3
    %li
      Blog
      %sup
        %a{href: '#fn-4'} 4
    %li
      Twitter
      %sup
        %a{href: '#fn-5'} 5
    %li
      Conference Talks
    %li
      Office visits and personal stuff
    %li
      Sticker/swag mailing

  %p
    We might also sell "Special" packages for the same amount as Platinum
    packages. These packages are only available for deals that do not use (or
    significantly conflict with) any of the banner spaces used by any of the
    regular packages. For example Stripe.com is interested in placing a small
    banner on the order form and order confirmation emails as well as a
    testimonial from us expressing how happy we are using Stripe for payments.
  %p
    Next to these crowd funding packages we will summarize existing sponsors
    that pay for workers as "Worker sponsors". The sponsor of the worker box
    that has run a build will be mentioned and linked to in every build log.

  %ul.footnotes
    %li#fn-1
      %sup 1
      <a href="http://travis-crowd-staging.herokuapp.com">current staging app</a>
      production will be <a href="http://support.travis-ci.org">here</a>
    %li#fn-2
      %sup 2
      <a href="http://travis-ci.org">Travis CI</a>
    %li#fn-3
      %sup 3
      does not exist yet, will be <a href="http://sponsors.travis-ci.org">here</a>
      and linked in the top menu on the main Travis CI app and below sponsor banner sections
    %li#fn-4
      %sup 4
      our <a href="http://about.travis-ci.org/blog">blog</a>
      will get a redesign as soon as possible
    %li#fn-5
      %sup 5
      <a href="http://twitter.com/travisci">@travisci</a> as well as
      <a href="http://twitter.com/joshkladerimis">@joshkladerimis</a>,
      <a href="http://twitter.com/konstantinhaase">@konstantinhaase</a>,
      <a href="http://twitter.com/svenfuchs">@svenfuchs</a>

  %h3
    Crowd funding site
  %p
    On the Travis CI crowd funding site there is a "Thank you, sponsors" section.
  %p
    Similar to what is layed out on the current staging app we display 1
    platinum, 2 gold and 4 silver sponsors at once, giving each package a
    different amount of space (although we might want to opt for an even
    smaller amount of space for silver sponsors and instead display more of
    them here).
  %p
    The order of sponsors displayed on page load are randomized so that each
    sponsor gets an equal chance of being displayed on page load.
  %p
    The whole sponsors list are paginated (as currently the "Thank you, folks"
    and "What people say" lists are paginated), so curious users have an
    opportunity to flip through the pages.
  %p
    After 5 seconds the next page are activated automatically (so there is a
    classical "banner rotation", but in a visually appealing way).


  %h3
    Application sidebar
  %p
    The sidebar will be re-designed so that we have two spots where sponsors
    appear but use less space in total.

  %ul
    %li
      There is a slot at the top of the sidebar (above the workers list)
      that displays either 1 Platinum or 2 Gold sponsors at a time.
    %li
      There is another list of sponsors (below the queues lists) that
      displays 8 Silver sponsors at a time as text links.
  %p
    There is a link to the main Travis CI sponsors page
    %sup
      %a{href: '#fn-3'} 3


  %h3
    Build notification emails
  %p
    We display 1 Platinum sponsor or 2 Gold sponsors below every build
    notification email. These are randomized and Platinum sponsors have a 2:1
    chance to appear over Gold sponsors.
  %p
    There is a link to the main Travis CI sponsors page
    %sup
      %a{href: '#fn-3'} 3


  %h3
    Sponsors page
  %p
    There is a static page that displays all of our sponsors at once so that
    curious users can review and link to them.
  %p
    This page is published on http://sponsors.travis-ci.org and simply lists
    sponsors in the order of their package size (Platinum, Gold, Silver) and in
    the order of their package booking dates.
  %p
    Each listing also links to the respective blog post on the Travis CI blog
    as well as other places the sponsor likes to link.


  %h3
    Blog
  %p
    Platinum and Gold sponsors may provide blog posts presenting their company,
    involvement in the open source community and reasons to sponsor Travis CI.
    These blog posts are published without any editing as dedicated single
    posts as soon as possible once they are available.
  %p
    Silver sponsors may provide contents to summary posts consisiting of 3-5
    parts.  These contents may be up to about X words long (to be specified)
    and are used to compose summary blog posts as soon as possible once a
    sufficient number of contents from sponsors is available.


  %h3
    Twitter
  %p
    We tweet about the sponsorship from our Travis CI account as soon as all
    required materials are published in all relevant places (especially the
    listing on the sponsors page).
  %p
    We also retweet these tweets from at least one of our personal Twitter
    accounts @joshkalderimis, @konstantinhaase and @svenfuchs for Platinum and
    Gold sponsors by default and Silver sponsors on special occasions.


  %h3
    Conference Talks
  %p
    We show our sponsors' logos on slides and read out names at each
    conference talk we do at conferences on topics related to Travis CI. We
    need to fit this to the actual presentation but we do our best to
    draw as much attention to our sponsors as possible.


  %h3
    Office visits and personal stuff
  %p
    The Platinum and Gold packages include options to have Josh and/or Sven
    visit the sponsor's office and meet their team for pair programming
    sessions or other kinds of events. Sponsors can use these office visits to
    direct attention to your company, homepage, service, blog etc.
  %p
    We retweet sponsor's tweets about these events and generally do our best in
    order to drive positive attention to our sponsors.


  %h3
    Sticker/swag mailing
  %p
    We send out one or many stickers to every donor through snail mail.
  %p
    Platinum and Gold sponsors can contribute own stickers or other swag that
    will be included to these mailings. For items that contribute significant
    size the sponsor might need to help with additional postal charges.

