%section#sponsors.paper
  %h2
    Thank you, sponsors!
  %p
    All of these companies do help Travis CI to be run, to be pushed further and to be as useful for the open source community as it is.
  %p
    We can barely express how thankful and happy we are. Please share the love and check them out!

  #platinum
    %h3
      Platinum sponsors

    %ul
      %li.wooga
        %a{href: 'http://www.wooga.com'}
        %p
          Founded in 2009 in Europe´s technology hub, Berlin,
          <a href="http://www.wooga.com">Wooga</a> is the third largest
          social games developer in the world.
        %p
          <a href="http://www.wooga.com">Wooga</a> creates high quality games for
          Facebook and iOS, with a specific focus on emotional character development,
          usability, and superb localization in seven languages.
          <a href="http://www.wooga.com">Wooga</a> is committed to creating innovative and original game titles
          for players of all ages, bringing millions of users around the world
          together through a world of gaming.
        %p
          <a href="http://www.wooga.com">Wooga</a>´s free-to-play Facebook
          games are enjoyed by over 35 million active players per month - 70%
          of which are women.
          For more information please visit: <a href="http://www.wooga.com">www.wooga.com</a>
      %li.bendyworks
        %a{href: 'http://bendyworks.com'}
        %p
          <a href="http://bendyworks.com">Bendyworks</a>
          is an agile Ruby on Rails &amp; iOS development consulting
          shop that hails from Madison, Wisconsin, USA. Bendyworks was founded
          in 2009 to turn great ideas into elegant applications, with plenty of
          room for creative revision and refinement along the way, while saving
          time &amp; money.
        %p
          The way Bendyworks approaches projects can be summed up in a single
          word: flexibility. From the frequent and clear communication down to
          the methods used to code, the entire process revolves around staying
          nimble and adaptable to client needs.
        %p
          Bendyworks also believes strongly in the power of community. From
          hosting local meetups to writing open source code, Bendyworks is
          committed to the programming community.
  #gold
    %h3
      Gold sponsors

    %ul
      %li.soundcloud
        %a{href: 'http://soundcloud.com'}
        %p
          %a{href: 'http://soundcloud.com'} SoundCloud
          is an audio platform that enables anyone to upload, record,
          promote and share their originally-created sounds across the internet,
          in a simple, accessible and feature-rich way.
      %li.nedap
        %a{href: 'http://nedap.com'}
        %p
          %a{href: 'http://nedap.com'} Nedap
          is a manufacturer of intelligent technological solutions for relevant
          themes. Sufficient food for a growing population, clean drinking
          water throughout the world, smart networks for sustainable energy are
          just a couple of examples of themes Nedap is working on.
        %p
          %a{href: 'http://nedap.com'} Nedap
          offers its employees the opportunity to be entrepreneurs in
          technology that matters. It is not your place in the organization
          that matters, but the quality of your arguments. Initiative,
          perseverance and entrepreneurship are crucial. It means taking
          responsibility and converting ideas into action.
  #silver
    %h3
      Silver sponsors

    %ul
      %li.cobotme
        %a{href: 'http://cobot.me'}
        %p
          %a{href: 'http://cobot.me'} Cobot
          is the one tool you need to run your coworking space. Cobot
          was created to free coworking space managers from mundane tasks,
          giving them the time to do what is important: attending to their
          coworkers.
      %li.jumpstartlab
        %a{href: 'http://jumpstartlab.com'}
        %p
          %a{href: 'http://cobot.me'} JumpstartLab
          offers the best web development training anywhere. We’re known for
          our expertise in Ruby on Rails, but also instruct courses in jQuery,
          JavaScript, ExtJS, and Git. For companies and teams, we offer
          %a{href: 'http://jumpstartlab.com/custom-training'} custom training
          anywhere from two days to six months.
      %li.evilmartians
        %a{href: 'http://evilmartians.com'}
      %li.zendesk
        %a{href: 'http://zendesk.com'}
      %li.stripe
        %a{href: 'http://stripe.com'}
        %p
          %a{href: 'http://stripe.com'} Stripe
          is the first service we have used that makes payments absolutely
          trivial and we are soo happy to use them for our
          %a{href: 'http://love.travis-ci.org'} crowd funding campaign.
          Stripe has also donated a huge amount of credits in payment fees.
      %li.basho
        %a{href: 'http://basho.com'}
        %p
          %a{href: 'http://basho.com'} Basho Technologies
          is the commercial sponsor of Riak, the most powerful open-source,
          distributed database you'll ever run in production. Riak is used
          by companies like Yammer, Comcast, Voxer, and Bump to power
          applications that can't go down.
      %li.thinkrelevance
        %a{href: 'http://thinkrelevance.com'}


  #workers
    %h3
      Worker sponsors

    %ul
      %li.enterprise-rails
        %a{href: 'http://enterprise-rails.com'}
        %p
          %a{href: 'http://enterprise-rails.com'} Enterprise Rails
          has supported Travis CI right from the start! They are sponsoring no
          less than 3 worker boxes that we use to run Ruby and Rails builds as
          well as our staging worker.
      %li.engineyard
        %a{href: 'http://engineyard.com'}
        %p
          %a{href: 'http://engineyard.com'} Engine Yard
          contributes 2 worker boxes that we use to run Ruby and
          Rails builds.
      %li.railslove
        %a{href: 'http://railslove.com'}
        %p
          %a{href: 'http://railslove.com'} Railslove
          contributes 1 worker box that we use to run Ruby builds.
          They also helped a lot to get an initial version of our
          %a{href: 'http://love.travis-ci.org'} crowd funding page
          going. Working with Railslove is always a great pleasure!
      %li.shopify
        %a{href: 'http://shopify.com'}
        %p
          %a{href: 'http://shopify.com'} Shopify
          contributes 1 worker box that we use to run Node.js builds.
      %li.servergrove
        %a{href: 'http://servergrove.com'}
        %p
          %a{href: 'http://servergrove.com'} Servergrove
          contributes 1 worker box that we use to run PHP builds.


  #services
    %h3
      Service sponsors
    %ul.services
      %li.heroku
        %a{href: 'http://heroku.com'}
        %p
          If there's anything we have to say about
          %a{href: 'http://heroku.com'} Heroku
          then that's:
          %strong we love you!
          Heroku essentially made it possible for us to make Travis CI the
          service it is by running our web and messaging architecture for free.

      %li.pusher
        %a{href: 'http://pusher.com'}
        %p
          Ever found yourself hypnothized, starring at a build log while it is
          updated live in your browser?
          %a{href: 'http://pusher.com'} Pusher
          makes it super easy to work with
          websockets and they were kind enough to donate a "Big Boy" account.

      %li.iriscouch
        %a{href: 'http://iriscouch.com'}
        %p
          We use
          %a{href: 'http://iriscouch.com'} Iriscouch
          for archiving build data to a couchdb in order
          to keep our production database small. Iriscouch is a huge pleasure to
          work with and they donated an account right away.

      %li.postmark
        %a{href: 'http://postmarkapp.com'}
        %p
          We use
          %a{href: 'http://postmarkapp.com'} Postmark
          for sending out emails and we absolutely enjoy it.
          Postmark provides exactly the neat and simple way to send emails that
          we were looking for.

      %li.thoughtbot
        %a{href: 'http://thoughtbot.com'}
        %p
          Using
          %a{href: 'http://airbrakeapp.com'} Airbrake
          for exception tracking is a no-brainer.
          %a{href: 'http://thoughtbot.com'} Thoughtbot
          donates a large plan.

  #special-thanks
    %h3 Special thanks!

    %ul
      %li.stickermule
        %a{href: 'http://stickermule.com'}
        %p
          %a{href: 'http://stickermule.com'} Stickermule
          has donated all the amazing Travis CI stickers that we are
          happily sending out as part of our
          %a{href: 'http:/love.travis-ci.org'} crowd funding campaign.
          This is just amazing. Thanks a ton, Stickermule!
      %li.jumpstartlab-special
        %a{href: 'http://jumpstartlab.com'}
        %p
          %a{href: 'http://jumpstartlab.com'} JumpstartLab
          has made it possible for us to use Stripe for
          payments by acting as a clearing agent. We can't express how much that is
          worth to us. Thank you so much, Jeff!

