#nyancat
  .cat
    .head
      .ears
        .skin
        .skin
      .face.skin
        .eyes
          %div
          %div
        .nose
        .chicks
          %div
          %div
        .mouth E
    .body
      .toast
        \      .  .     ..      . .        ..      .  .
    .tail
      .skin
      .skin
      .skin
    .allYourLegAreBelongToUs
      .skin
      .skin
      .skin
      .skin
    .rainbow
      %div
      %div
      %div
      %div
  .star.starMovement1
    %div
    %div
    %div
    %div
    %div
    %div
    %div
    %div
  .star.starMovement2.backwards
    %div
    %div
    %div
    %div
    %div
    %div
    %div
    %div
  .star.starMovement3
    %div
    %div
    %div
    %div
    %div
    %div
    %div
    %div
  .star.starMovement4
    %div
    %div
    %div
    %div
    %div
    %div
    %div
    %div
  .star.starMovement5
    %div
    %div
    %div
    %div
    %div
    %div
    %div
    %div

  %a.audio{href: '#'}
  %audio{loop: 'loop', src: '/sounds/nyancat.ogg'}

  %script{type: 'text/javascript'}
    var playing;
    var audio = $('audio')[0];
    var toggleAudio = function() { if(playing) { playing = false; audio.pause(); } else { playing = true; audio.play(); } };
    $('.audio').click(function() { $(this).parent().parent().toggleClass('on'); toggleAudio(); return false; })



