%ul.features
  %li All the cool Travis CI stickers<sup>1</sup>.
  %li Access to the #{link_to 'ringtones and sounds', ringtones_profile_url} collection.
  %li A personal note from the Travis CI team.
  %li You get on the waiting list for Travis CI pro private beta access<sup>2</sup>.
  %li USD 200 worth of credit for your future Travis CI pro account.
  %li A one hour remote pairing or support session with one of our volunteers<sup>3</sup>.

%ul.footnotes
  %li
    %sup 1
    We will send the stickers to you through snail mail.
  %li
    %sup 2
    We will send out more information as soon as private beta access becomes available.
  %li
    %sup 3
    If you want to claim this please drop us a note at contact@travis-ci.org and mention your Skype handle as well as your preferences who you'd like to talk to. Slots are limited and we might need to put you on a waiting list depending on the demand.
