%ul.features
  %li Exposure on Travis CI pages and conference talks<sup>1</sup>.
  %li 3 hour remote pairing or support with Josh, Sven or one of our volunteers<sup>2</sup>.

%ul.footnotes
  %li
    %sup 1
    Please make sure to send us your logo and copy so we can include it. Please also include a contact to someone we can contact for help in case we need to adjust your copy so it fits the space on our pages. (We want to make sure your logo and copy looks as good as possible, so we will put some time into adjusting the design, but we might need some help from your side, too.)
  %li
    %sup 2
    If you want to claim this please drop us a note at contact@travis-ci.org. Obviously this is just an idea we came up with. We are open for ideas that fit your company better, so feel free to ask!
