%ul.features
  %li A cool Travis CI sticker<sup>1</sup>.
  %li Access to the #{link_to 'ringtones and sounds', ringtones_profile_url} collection.

%p.footnotes
  %sup 1
  We will send the sticker to you through snail mail.

