@import url(http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope);
@import url(http://fonts.googleapis.com/css?family=Ruthie);
@import url(http://fonts.googleapis.com/css?family=Alex+Brush);
@import url(http://fonts.googleapis.com/css?family=Miss+Saint+Delafield);
@import url(http://fonts.googleapis.com/css?family=Monsieur+La+Doulaise);
@import url(http://fonts.googleapis.com/css?family=Tangerine);

html, body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: #fafafa;
  z-index: -2;
}
p, li, blockquote {
  line-height: 140%;
  margin: 15px 0 0 0;
}
blockquote {
  font-size: 14px;
}
a {
  color: #274798;
}
cite a {
  color: inherit;
  text-decoration: none;
}
cite a:hover {
  text-decoration: underline;
}
ul {
  margin: 15px 0 0 0;
  padding: 0;
  list-style-type: none;
}
sup {
  font-size: 10px;
}
header > div {
  position: relative;
  width: 960px;
  margin: auto;
}

section {
  width: 880px;
  margin: 20px auto 0 auto;
}
section h2 {
  position: relative;
	display: inline-block;
  margin: 0 0 10px 0;
  font-size: 36px;
  font-weight: normal;
}

.paper {
  position: relative;
  width: 880px;
  margin-top: 40px;
  padding: 30px 40px;
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow:  inset 0 0 1px rgba(0, 0, 0, 0.1);
}
/* curly paper shaddows */
.paper:before,
.paper:after {
	content: ' ';
	position: absolute;
	width: 40%;
	height: 10px;
	left: 12px;
	bottom: 17px;
	-webkit-transform: skew(-5deg) rotate(-5deg);
	-moz-transform: skew(-5deg) rotate(-5deg);
	-ms-transform: skew(-5deg) rotate(-5deg);
	-o-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
	z-index: -1;
}
.paper:after {
	left: auto;
	right: 12px;
	-webkit-transform: skew(5deg) rotate(5deg);
	-moz-transform: skew(5deg) rotate(5deg);
	-ms-transform: skew(5deg) rotate(5deg);
	-o-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
}
/* sticky tape */
.paper h2+*:before {
  content: '';
  position: absolute;
  top: -15px;
  left: 400px;
  width: 130px;
  height: 35px;
  background-color: #eed;
  opacity: 0.4;
  border: dashed rgba(0, 0, 0, 0.1);
  border-width: 0 1px;
  -webkit-box-shadow: 0px 0px 1px 0px #cccccc;
  -moz-box-shadow: 0px 0px 1px 0px #cccccc;
  box-shadow: 0px 0px 1px 0px #cccccc;
}
.paper:nth-child(odd) h2+*:before {
  -webkit-transform: rotate(-2deg) skew(0,0) translate(0%,-5px);
  -moz-transform: rotate(-2deg) skew(0,0) translate(0%,-5px);
  -o-transform: rotate(-2deg) skew(0,0) translate(0%,-5px);
  transform: rotate(-2deg) skew(0,0) translate(0%,-5px);
}
.paper:nth-child(even) h2+*:before {
  -webkit-transform: rotate(2deg) skew(0,0) translate(0%,-5px);
  -moz-transform: rotate(2deg) skew(0,0) translate(0%,-5px);
  -o-transform: rotate(2deg) skew(0,0) translate(0%,-5px);
  transform: rotate(2deg) skew(0,0) translate(0%,-5px);
}
/* ribbon */
/* .paper h2:before {
  content: ' ';
  position: absolute;
  display: block;
  margin-top: -5px;
  padding: 5px 0;
  left: -60px;
  width: 40px;
  background-color: #fffa93;
}
.paper h2:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -60px;
  bottom: -15px;
	border-width: 5px 10px;
	border-style: solid;
	border-color: #e1dd97 #e1dd97 transparent transparent;
}*/

.handwritten {
  font-family: "Annie Use Your Telescope";
  font-weight: normal;
  color: #777;
}

.packages ul {
  margin-top: 40px;
}
.packages li {
  position: relative;
  overflow: hidden;
  float: left;
  width: 158px;
  margin: 20px 20px 0 0;
  padding-bottom: 5px;
  border: 1px solid #ddd;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: #f2f4f9;
  font-size: 14px;
  -webkit-box-shadow: 0px 0px 5px #ddd;
}
.packages li:last-child {
  margin-right: 0;
}
.packages li h3 {
  margin: 0;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-size: 22px;
  color: #333;
  text-shadow: 2px 2px 0px #eee;
}
.packages li p {
  padding: 0 10px;
}
.packages button {
  width: 148px;
  height: 40px;
  margin: 0 5px;
  border: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #3f9c33; /* Old browsers */
  background: -moz-linear-gradient(top, #3f9c33 0%, #348629 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f9c33), color-stop(100%,#348629)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #3f9c33 0%,#348629 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #3f9c33 0%,#348629 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #3f9c33 0%,#348629 100%); /* IE10+ */
  background: linear-gradient(top, #3f9c33 0%,#348629 100%); /* W3C */
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 0px #666;
  cursor: hand;
}
.packages button:hover {
  background: #3f9c33; /* Old browsers */
  background: -moz-linear-gradient(top, #1CBE0A 0%, #158F07 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1CBE0A), color-stop(100%,#158F07)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1CBE0A 0%,#158F07 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1CBE0A 0%,#158F07 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1CBE0A 0%,#158F07 100%); /* IE10+ */
  background: linear-gradient(top, #1CBE0A 0%,#158F07 100%); /* W3C */
}
.price-tag {
  position: absolute;
  top: 13px;
  right: -26px;
  width: 100px;
  height: 20px;
  -webkit-transform: rotate(45deg);
  background-color: #ff6d00;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 1px #666;
}
.sidenote {
  position: absolute;
  display: none;
  top: 210px;
  width: 140px;
  font-size: 16px;
}
section:hover .sidenote {
  display: block;
}
.sidenote span {
  position: absolute;
  display: block;
  background: url("/images/handwritten-arrow.png") no-repeat;
}
.sidenote.left {
  left: -165px;
  padding-top: 50px;
  -webkit-transform: rotate(-10deg);
  text-align: right;
}
.sidenote.left span {
  top: 0px;
  right: 0px;
  width: 54px;
  height: 42px;
  -webkit-transform: rotate(-60deg);
}
.sidenote.right {
  right: -165px;
  -webkit-transform: rotate(15deg);
}
.sidenote.right span {
  top: 80px;
  left: 10px;
  width: 54px;
  height: 42px;
  -webkit-transform: rotate(100deg);
}


#top {
  padding: 20px 0;
  background-color: #fff;
}
#top h1 {
  width: 200px;
  height: 63px;
  margin: 0px;
  background: url(/images/travis-ci.png) no-repeat;
  overflow: hidden;
  text-indent: -9999px;
}
#top h2 {
  position: absolute;
  margin: 0;
  top: 27px;
  left: 350px;
  color: #999;
  font-weight: normal;
  font-size: 17px;
}
#github {
  position: absolute;
  z-index: 100;
  top: 0px;
  right: 0px;
  width: 130px;
  height: 140px;
  overflow: hidden;
}
#github a {
  display: block;
  width: 250px;
  height: 19px;
  margin: 40px 0 0 -45px;
  padding: 3px 0;
  border-top: 2px solid #EF9F4C;
  border-bottom: 2px solid #EF9F4C;
  background: #EF7600;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  line-height: 19px;
  letter-spacing: -1px;
  text-shadow: 0 0 10px #522600;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-box-shadow: rgba(0,0,0,0.5) 1px 1px 10px,rgba(0,0,0,0.07) 0 0 3px 1px inset;
  -moz-box-shadow: rgba(0,0,0,0.5) 1px 1px 10px,rgba(0,0,0,0.07) 0 0 3px 1px inset;
  -o-box-shadow: rgba(0,0,0,0.5) 1px 1px 10px,rgba(0,0,0,0.07) 0 0 3px 1px inset;
  box-shadow: rgba(0,0,0,0.5) 1px 1px 10px,rgba(0,0,0,0.07) 0 0 3px 1px inset;
}

#blob {
  position: relative;
  height: 250px;
  padding: 10px 0 30px 0;
  background: url(/images/background-blob.png) repeat-x;
  color: white;
}
#blob .slides {
  position: absolute;
  top: 10px;
  margin: 0;
  padding: 0;
}
#blob .slides li {
  position: absolute;
  display: none;
  margin: 0;
}
#blob .slides .current {
  display: block;
}
#blob .slides-pagination {
  position: relative;
  top: 238px;
  left: 118px;
}
#blob .slides-pagination li {
  display: block;
  float: left;
  width: 8px;
  height: 8px;
  margin: 0;
  margin-right: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #ccc;
  -webkit-box-shadow: inset 1px 1px 2px 0px #666;
  -moz-box-shadow: inset 1px 1px 2px 0px #666;
  box-shadow: inset 1px 1px 2px 0px #666;
}
#blob .slides-pagination li:last-child {
  margin-right: 0;
}
#blob .slides-pagination li.current {
  background-color: #20bf02;
}
#blob p {
  font-size: 16px;
  margin-left: 350px;
  margin-top: 18px;
}
#blob h3 {
  margin: 0 0 0 350px;
  font-size: 58px;
  font-weight: bold;
}
#blob em {
  color: yellow;
  font-style: normal;
}
#blob .conclusion {
  color: #20bf02;
  margin-bottom: 0;
  font-size: 22px;
}

#sub {
  position: relative;
  padding: 5px 0;
  border-width: 15px 0 15px 0;
  -webkit-border-image: url(/images/background-sub.png) 15 0 15 0 stretch;
  background-color: #e4e7ed;
}
#sub blockquote {
  width: 730px;
  margin: 0;
  padding: 10px;
  background-color: white;
  border: 1px solid #ddd;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 2px 2px 6px 0px #ddd;
  -moz-box-shadow: inset 2px 2px 6px 0px #ddd;
  box-shadow: inset 1px 1px 4px 0px #ddd;
  color: #666;
}
#sub blockquote img {
  float: left;
  width: 75px;
  margin-right: 10px;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#sub cite {
  display: block;
  font-size: 12px;
  color: #999;
}
#sociallinks {
  position: absolute;
  top: 0;
  right: 0;
  width: 190px;
}
#sociallinks h4 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 190px;
  font-size: 20px;
}

#rails-core {
  position: relative;
  padding: 10px 0 0px 0;
}
#rails-core ul {
  position: relative;
  height: 327px;
  margin: 0 -40px;
  padding-left: 35px;
  background: url(/images/rails-core/background.png) top center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 3px 3px 20px 0px #333;
  -moz-box-shadow: inset 3px 3px 20px 0px #333;
  box-shadow: inset 3px 3px 20px 0px #333;
}
#rails-core li {
  position: relative;
  float: left;
  width: 217px;
  height: 293px;
  margin: 0;
  padding: 15px 2px 0 2px;
  background: url(/images/rails-core/badge_background.png) no-repeat 5px 15px;
  text-align: center;
  cursor: hand;
}
#rails-core cite {
  display: block;
  margin-top: 32px;
  font-family: "Tangerine";
  font-size: 32px;
  font-weight: bold;
  color: #333;
  text-shadow: 1px 1px 1px #ddd;
}
#rails-core ul:hover li {
  opacity: 0.5;
}
#rails-core ul li:hover {
  opacity: 1;
}
#rails-core li > div {
  -moz-animation: head_small_movement 5s infinite;
  -webkit-animation: head_small_movement 5s infinite;
  -ms-animation: head_small_movement 5s infinite;
  -o-animation: head_small_movement 5s infinite;
  animation: head_small_movement 5s infinite;
}
#rails-core li:hover div {
   background: -moz-radial-gradient(      rgba(255, 255, 255, 1), rgba(0, 0, 0, 0) 80%);
   background: -webkit-radial-gradient(   rgba(255, 255, 255, 1), rgba(0, 0, 0, 0) 80%);
   background: -ms-radial-gradient(       rgba(255, 255, 255, 1), rgba(0, 0, 0, 0) 80%);
   background: -o-radial-gradient(        rgba(255, 255, 255, 1), rgba(0, 0, 0, 0) 80%);
   background: radial-gradient(           rgba(255, 255, 255, 1), rgba(0, 0, 0, 0) 80%);
}
#rails-core li a {
  position: relative;
  display: block;
  height: 217px;
  width: 217px;
}
#rails-core li.active > div {
   -moz-animation:      head_big_movement 0.7s infinite;
   -webkit-animation:   head_big_movement 0.7s infinite;
   -ms-animation:       head_big_movement 0.7s infinite;
   -o-animation:        head_big_movement 0.7s infinite;
   animation:           head_big_movement 0.7s infinite;
}
#rails-core li.active a {
   -moz-animation:      mouth 0.7s infinite;
   -webkit-animation:   mouth 0.7s infinite;
   -ns-animation:       mouth 0.7s infinite;
   -o-animation:        mouth 0.7s infinite;
   animation:           mouth 0.7s infinite;
}
#rails-core #jon .head {
  background: url(/images/rails-core/jon_head.png) no-repeat center;
}
#rails-core #jon a {
  background: url(/images/rails-core/jon_mouth.png) no-repeat center;
}
#rails-core #jose .head {
  background: url(/images/rails-core/jose_head.png) no-repeat center;
}
#rails-core #jose a {
  background: url(/images/rails-core/jose_mouth.png) no-repeat center;
}
#rails-core #aaron .head {
  background: url(/images/rails-core/aaron_head.png) no-repeat center;
}
#rails-core #aaron a {
  background: url(/images/rails-core/aaron_mouth.png) no-repeat center;
}
#rails-core #yehuda .head {
  background: url(/images/rails-core/yehuda_head.png) no-repeat center;
}
#rails-core #yehuda a {
  background: url(/images/rails-core/yehuda_mouth.png) no-repeat center;
}
#rails-core .sidenote {
  top: 160px;
  left: -205px;
}

#thanks-companies {
  padding-bottom: 20px;
}
#thanks-companies li {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 5px #ddd;
}
#thanks-companies li img {
  float: left;
  margin-right: 10px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-radius: 8px 0px 0px 8px;
  border-radius: 8px 0px 0px 8px;
}
#thanks-companies li p {
  margin: 10px 5px 0px 0;
}
#thanks-companies .silver p {
  margin-top: 5px;
}
#thanks-companies .platin {
  width: 878px;
}
#thanks-companies .silver,
#thanks-companies .gold {
  float: left;
  width: 428px;
  margin-right: 20px;
  font-size: 13px;
}
#thanks-companies li:nth-child(3),
#thanks-companies li:nth-child(5) {
  margin-right: 0;
}

#company-packages {
  position: relative;
  padding: 20px 40px;
  padding-bottom: 40px;
  background-color: #f3f3f3;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 2px 2px 6px 0px #ddd;
  -moz-box-shadow: inset 2px 2px 6px 0px #ddd;
  box-shadow: inset 2px 2px 6px 0px #ddd;
}
#company-packages .toggle {
  display: block;
  position: absolute;
  height: 28px;
  top: 17px;
  right: 40px;
  padding: 0 35px 0 15px;
  background: url(/images/icon-expand.png) no-repeat right -28px;
  font-size: 14px;
  color: #aaa;
  text-shadow: 2px 2px white;
  text-decoration: none;
  line-height: 30px;
}
#company-packages .toggle:before {
  content: "Hide"
}
#company-packages .packages li {
  width: 220px;
  background-color: white;
}
#company-packages .packages button {
  width: 209px;
}
#company-packages .price-tag {
  top: 17px;
  right: -22px;
}
#company-packages .footnotes {
  margin-top: 20px;
  font-size: 12px;
  color: #666;
}
#company-packages .footnotes li {
  margin: 0;
}
#company-packages .footnotes a {
  color: inherit;
}

#company-packages.collapsed {
  padding: 20px 40px;
}
#company-packages.collapsed ul,
#company-packages.collapsed p {
  display: none;
}
#company-packages.collapsed h2 {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
  color: #666;
}
#company-packages.collapsed .toggle {
  right: 40px;
  background-position: right top;
}
#company-packages.collapsed .toggle:before {
  content: "Show"
}
#company-packages.collapsed:hover .toggle:before {
  content: "See what we have prepared for you"
}


#thanks-guys > li {
  float: left;
}
#thanks-guys li ul {
  width: 105%;
  clear: both;
}
#thanks-guys li li {
  float: left;
  color: #666;
}
#thanks-guys .boxed li {
  padding: 8px;
  margin: 0 15px 15px 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0px 0px 5px #ddd;
}
#thanks-guys img {
  float: left;
  margin-right: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0px 0px 5px #ddd;
}
#thanks-guys li h4 {
  margin: 0;
  color: #333;
}
#thanks-guys li p {
  margin: 0;
  font-size: 14px;
}

#thanks-guys .huge li {
  width: 415px;
}
#thanks-guys .huge img {
  width: 100px;
  height: 100px;
}
#thanks-guys .huge h4 {
  font-size: 17px;
}

#thanks-guys .big li {
  width: 266px;
}
#thanks-guys .big img {
  width: 60px;
  height: 60px;
}
#thanks-guys .big h4 {
  font-size: 15px;
}

#thanks-guys .medium li {
  width: 191px;
}
#thanks-guys .medium img {
  width: 45px;
  height: 45px;
}
#thanks-guys .medium h4 {
  font-size: 14px;
}

#thanks-guys .small {
  margin-top: 10px;
}
#thanks-guys .small a {
  font-size: 15px;
  font-weight: bold;
  color: #666;
  text-decoration: none;
}
#thanks-guys .small a:hover {
  text-decoration: underline;
}

#thanks-guys .tiny {
  margin-top: 6px;
}
#thanks-guys .tiny a {
  font-size: 13px;
  color: #999;
  text-decoration: none;
}
#thanks-guys .tiny a:hover {
  text-decoration: underline;
}

#testimonials ul {
  margin-top: 20px;
}
#testimonials li {
  margin-bottom: 20px;
}
#testimonials img {
  width: 80px;
  height: 80px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0px 0px 5px #ddd;
}
#testimonials blockquote {
  position: relative;
  width: 300px;
  padding: 10px;
  margin: 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #ddd;
  -webkit-box-shadow: inset 0px 0px 20px 3px #fff;
  -moz-box-shadow: inset 0px 0px 20px 3px #fff;
  box-shadow: inset 0px 0px 20px 3px #fff;
}
#testimonials blockquote:after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  margin-top: -5px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  border: solid #ddd;
}
#testimonials li:nth-child(odd) blockquote:after {
  left: 0;
  margin-left: -7px;
  border-width: 0 0 1px 1px;
  background-color: #f9fafc;
}
#testimonials li:nth-child(even) blockquote:after {
  right: 0;
  margin-right: -7px;
  border-width: 1px 1px 0 0;
  background: #f5f9f5;
}
#testimonials cite {
  display: block;
  margin: 0 5px 0 5px;
  color: #999;
  font-size: 13px;
  font-style: normal;
}
#testimonials li:nth-child(odd) {
  float: left;
  clear: left;
  margin-right: 30px;
}
#testimonials li:nth-child(odd) img,
#testimonials li:nth-child(odd) div {
  float: left;
}
#testimonials li:nth-child(odd) div {
  margin-left: 20px;
  text-align: left;
}
#testimonials li:nth-child(odd) blockquote {
  background-color: #f2f4f9;
}
#testimonials li:nth-child(even) {
  float: right;
  clear: right;
}
#testimonials li:nth-child(even) img,
#testimonials li:nth-child(even) div {
  float: right;
}
#testimonials li:nth-child(even) div {
  margin-right: 20px;
  text-align: right;
}
#testimonials li:nth-child(even) blockquote {
  background-color: #edf5ee;
}

#future-plans li {
  padding-right: 140px;
  font-size: 14px;
}

#future-plans #pullrequests {
  background: url(/images/features/pullrequests.png) no-repeat right;
}
#future-plans #languages {
  background: url(/images/features/languages.png) no-repeat right;
}
#future-plans #artifacts {
  background: url(/images/features/artifacts.png) no-repeat right;
}
#future-plans #private {
  background: url(/images/features/private.png) no-repeat right;
}

#ringtones {
  padding-bottom: 40px;
}

#faq h3 {
  font-size: 16px;
}

footer {
  margin-top: 40px;
  background-color: #f2f4f9;
}
footer div {
  width: 880px;
  height: 240px;
  margin: 0 auto;
  padding: 35px 0 0 0;
  background: url(/images/footer-travis.png) no-repeat 460px 35px;
}
footer h2 {
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
}
footer ul {
  margin: 0;
}
footer div > ul {
  margin-left: 0px;
}
footer div > ul > li {
  display: inline-block;
  float: left;
  margin-right: 40px;
}
footer li {
  line-height: 160%;
  font-size: 15px;
  color: #999;
  margin: 0;
}
footer a {
  color: #89a;
}

@-moz-keyframes mouth {
	0%    { bottom:   2px; 	}
	50% 	{ bottom: -15px; 	}
	100% 	{ bottom:   2px; 	}
}
@-webkit-keyframes mouth {
  0%    { bottom:  2px;   }
  50%   { bottom: -15px;  }
  100%  { bottom:  2px;   }
}
@-ms-keyframes mouth {
  0%    { bottom:  2px;   }
  50%   { bottom: -15px;  }
  100%  { bottom:  2px;   }
}
@-o-keyframes mouth {
  0%    { bottom:  2px;   }
  50%   { bottom: -15px;  }
  100%  { bottom:  2px;   }
}
@keyframes mouth {
  0%    { bottom:  2px;   }
  50%   { bottom: -15px;  }
  100%  { bottom:  2px;   }
}

@-moz-keyframes head_big_movement {
	0% 	  { -moz-transform: rotate(	0deg	); }
	20% 	{ -moz-transform: rotate(	2deg	); }
	50% 	{ -moz-transform: rotate( -8deg	); }
	100% 	{ -moz-transform: rotate(	0deg	); }
}
@-webkit-keyframes head_big_movement {
  0%    { -webkit-transform: rotate(  0deg  ); }
  20%   { -webkit-transform: rotate(  2deg  ); }
  50%   { -webkit-transform: rotate( -8deg  ); }
  100%  { -webkit-transform: rotate(  0deg  ); }
}
@-ms-keyframes head_big_movement {
  0%    { -ms-transform: rotate(  0deg  ); }
  20%   { -ms-transform: rotate(  2deg  ); }
  50%   { -ms-transform: rotate( -8deg  ); }
  100%  { -ms-transform: rotate(  0deg  ); }
}
@-o-keyframes head_big_movement {
  0%    { -o-transform: rotate(  0deg  ); }
  20%   { -o-transform: rotate(  2deg  ); }
  50%   { -o-transform: rotate( -8deg  ); }
  100%  { -o-transform: rotate(  0deg  ); }
}
@keyframes head_big_movement {
  0%    { transform: rotate(  0deg  ); }
  20%   { transform: rotate(  2deg  ); }
  50%   { transform: rotate( -8deg  ); }
  100%  { transform: rotate(  0deg  ); }
}

@-moz-keyframes head_small_movement {
	0% 	  { -moz-transform: rotate(	0deg	); }
	20% 	{ -moz-transform: rotate(	2deg	); }
	50% 	{ -moz-transform: rotate( -2deg	); }
	100% 	{ -moz-transform: rotate(	0deg	); }
}
@-webkit-keyframes head_small_movement {
  0%    { -webkit-transform: rotate(  0deg  ); }
  20%   { -webkit-transform: rotate(  2deg  ); }
  50%   { -webkit-transform: rotate( -2deg  ); }
  100%  { -webkit-transform: rotate(  0deg  ); }
}
@-ms-keyframes head_small_movement {
  0%    { -ms-transform: rotate(  0deg  ); }
  20%   { -ms-transform: rotate(  2deg  ); }
  50%   { -ms-transform: rotate( -2deg  ); }
  100%  { -ms-transform: rotate(  0deg  ); }
}
@-o-keyframes head_small_movement {
  0%    { -o-transform: rotate(  0deg  ); }
  20%   { -o-transform: rotate(  2deg  ); }
  50%   { -o-transform: rotate( -2deg  ); }
  100%  { -o-transform: rotate(  0deg  ); }
}
@keyframes head_small_movement {
  0%    { transform: rotate(  0deg  ); }
  20%   { transform: rotate(  2deg  ); }
  50%   { transform: rotate( -2deg  ); }
  100%  { transform: rotate(  0deg  ); }
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
