%tr
  %td= link_to subscription.plan.name, subscription
  %td= subscription.created_at.to_formatted_s(:long)
  %td= link_to 'Cancel', subscription, :method => :delete, :alert => 'Are you sure you want to cancel this subscription?'
