@import "home";

html, body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: #fafafa;
  z-index: -2;
}
p, li, blockquote {
  line-height: 140%;
  margin: 15px 0 0 0;
}
ul {
  margin: 15px 0 0 0;
  padding: 0;
  list-style-type: none;
}
blockquote {
  font-size: 14px;
}
a {
  color: #274798;
}


#flash {
  padding: 5px 8px;
  margin: 10px 0;

  &.notice {
    background-color: #CFC;
    border: solid 1px #6C6;
  }
  &.error, &.alert {
    background-color: #FCC;
    border: solid 1px #C66;
  }
}

form {
  label {
    display: block;
    margin-bottom: 2px;
  }

  .input, .actions {
    margin: 12px 0;
  }
  .error {
    color: red;
  }

  #shipping_address {
    display: none;
  }

  #stripe_error {
    color: #D00;
  }
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}

