@font-face {
  font-family: 'Annie Use Your Telescope';
  font-style: normal;
  font-weight: normal;
  src: local('Annie Use Your Telescope'), local('AnnieUseYourTelescope'), url('/fonts/annieuseyourtelescope.woff') format('woff');
}
@font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: normal;
  src: local('Tangerine'), url('/fonts/tangerine.woff') format('woff');
}
