@import "tipsy";
@import "orders/nyancat";

#orders {
  section{
    ul {
      list-style-type: disc;
      margin-left: 20px;

      li {
        margin: 0;
      }
    }
    ul.footnotes {
      list-style-type: none;
    }

    em {
      background-color: yellow;
      font-style: normal;
    }

    form {
      width: 900px;

      h2 {
        margin-bottom: 12px;
      }
      h3 {
        margin: 24px 0 0 0;
      }
      p {
        line-height: 160%;
        font-size: 16px;
        color: #666;
      }
      .message {
        float: left;
        display: none;
        padding-left: 24px;
        background: url(/images/spinner.gif) no-repeat left center;
        color: #999;
      }

      & > div {
        @include clearfix();
      }

      fieldset {
        float: left;
        padding: 0;
        border: 0;
        margin: 24px 36px 0 0;

        &:nth-child(odd) {
          margin-right: 0;
        }
        &.wide {
          margin: 0;
        }

        .input {
          position: relative;

          &.required:after {
            content: '*';
            position: absolute;
            top: 17px;
            right: -10px;
            color: #c00;
          }
        }
        label {
          display: inline-block;
          width: 70px;
          margin-bottom: 2px;
          padding-right: 15px;
          line-height: 40px;
          text-align: right;
          font-size: 15px;
          text-shadow: 2px 2px 0px #fff;
          color: #666;
        }
        input, textarea {
          display: inline-block;
          padding: 8px;
          border: 1px solid #ddd;
          font-size: 16px;
          @include border-radius(8px);
        }
        input {
          margin-top: 4px;
          width: 300px;
        }
        textarea {
          margin-top: 8px;
          height: 40px;
          height: 20px;
          width: 300px;
        }
        &.wide textarea {
          width: 740px;
        }
        select {
          font-size: 18px;
          margin-top: 10px;
        }
        .boolean {
          input {
            margin: 8px 8px 0 86px;
            width: auto;
            clear: left;
          }
          label {
            clear: none;
            width: auto;
            margin-top: 8px;
            line-height: 16px;
            text-align: left;
            font-size: 12px;
          }
        }
        .country select {
          width: 318px;
        }
        .hint {
          display: none;
        }
        p {
          float: left;
          width: 740px;
          margin: 0 0 2px 0;
          line-height: 41px;
          font-size: 13px;
          color: #666;
        }
      }
      #comment fieldset {
        margin-top: 24px;
      }

      .actions {
        margin: 12px 0 24px 80px;
        line-height: 60px;

        input {
          display: block;
          float: left;
          width: 148px;
          height: 40px;
          margin: 10px 20px 0 0px;
          border: 0;
          text-align: center;
          line-height: 37px;
          font-size: 20px;
          text-decoration: none;
          color: white;
          text-shadow: 2px 2px 0 #666;
          cursor: hand;
          @include border-radius(6px);
          @include background-image(linear-gradient(#3f9c33 0%, #348629 100%));
          &:hover {
            @include background-image(linear-gradient(#1CBE0A 0%, #158F07 100%));
          }
          &[disabled] {
            @include background-image(linear-gradient(#ddd 0%, #ccc 100%));
            color: #f6f6f6;
            text-shadow: 2px 2px 0 #aaa;
          }
        }
        a {
          color: #999;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .error {
        display: block;
        margin-left: 85px;
        font-size: 13px;
        color: #c00;
      }
      #stripe_error {
        color: #c00;
        margin: 15px 0 0 80px;
      }
      .tipsy {
        margin-left: 20px;
      }
    }
  }

  .nyancat-container {
    position: relative;

    .sidenote {
      display: none;
      top: auto;
      bottom: 70px;
      right: -180px;
      padding-top: 5px;

      &:after {
        top: 40px;
        left: -10px;
      }
      .note-1 {
        display: block;
      }
      .note-2 {
        display: none;
      }
    }
    &:hover .sidenote.note-1 {
      display: block;
    }
    &:hover .sidenote.note-2 {
      display: none;
    }
    &.on:hover .sidenote.note-1 {
      display: none;
    }
    &.on:hover .sidenote.note-2 {
      display: block;
    }
  }
}
