%footer
  %div
    %ul
      %li Twitter: <a href="http://twitter.com/travisci">@travisci</a>
      %li E-Mail: <a href="mailto:contact@travis-ci.org">contact@travis-ci.org</a>
      %li IRC: <a href="irc://irc.freenode.net#travis">irc.freenode.net#travis</a>
      %li Group: <a href="http://groups.google.com/group/travis-ci">travis-ci</a>

    %ul
      %li <a href="http://travis-ci.org">Travis CI</a>
      %li <a href="http://about.travis-ci.org/blog">Blog</a>
      %li <a href="http://about.travis-ci.org">Help</a>
      %li <a href="http://github.com/travis-ci">Github</a>

-# %footer#suggestions
-#   %form{action: '#', onsubmit: 'SuggestWidget.submitSuggestion(); return false;'}
-#     %input{type: 'text', placeholder: 'You guys should ...'}
-#     %input{type: 'submit', value: 'Send feedback'}
