<footer>
  <div>
    <ul>
      <li>
        <ul>
          <li>Twitter: <a href="http://twitter.com/travisci">@travisci</a></li>
          <li>E-Mail: <a href="mailto:contact@travis-ci.org">contact@travis-ci.org</a></li>
          <li>IRC: <a href="irc://irc.freenode.net#travis">irc.freenode.net#travis</a></li>
          <li>Group: <a href="http://groups.google.com/group/travis-ci">travis-ci</a></li>
        </ul>
      </li>
      <li>
        <ul>
          <li><a href="http://travis-ci.org">Travis CI</a></li>
          <li><a href="http://about.travis-ci.org/blog">Blog</a></li>
          <li><a href="http://about.travis-ci.org">Help</a></li>
          <li><a href="http://github.com/travis-ci">Github</a></li>
        </ul>
      </li>
     </ul>
  </div>
</footer>

