%header#top
  %div
    %a{ href: '/' }
      %h1 Travis CI
    %h2 Continuous Integration for the Open Source Community
  #github
    %a{ href: 'https://github.com/travis-ci/travis-crowdfunding', title: 'Fork me on GitHub'} Fork me on GitHub

